[2011-03-25 22:55] trevnorris opened #1 "api doucmentation"
need to create some documentation for the api

[2011-03-27 18:47] trevnorris opened #3 "js console"
add a console users can use to generate data.

[2011-03-28 05:12] trevnorris opened #5 "documentation template"
create a template for the documentation that will be placed in the "doc" folder.

[2011-03-28 05:27] trevnorris opened #6 "create Makefile"
create a Makefile to use Node.js to build out jStat. similar to what jQuery is doing.

[2011-03-28 22:03] trevnorris opened #7 "style guidelines"
create simple style guidelines to be followed when coding for jstat.

[2011-03-31 05:11] trevnorris opened #8 "cacheable results"
when a result is generated, the results should be cached on the single object so they don't have to be calculated again.

also would need to have a reset function that would clear the cache if the object is altered.

[2011-03-31 05:18] trevnorris opened #9 "choices for build"
the user should be able to select what parts they want for the build.

this will also be usable on the webpage for custom deployments.

[2011-03-31 05:47] trevnorris opened #10 "performance tests"
create performance tests to make sure jstat isn't hammering the browser.

[2011-05-17 03:56] #6 closed, assigned to trevnorris

[2011-06-18 08:49] #9 closed, assigned to trevnorris

[2011-06-18 08:50] #10 closed, assigned to trevnorris

[2011-06-18 08:51] #8 closed, assigned to nobody

[2011-08-17 16:02] #5 closed, assigned to nobody

[2011-08-17 17:24] #1 closed, assigned to nobody

[2011-08-17 19:36] FlorianPons opened #12 "wrong col value in map methode (core.js)"
I changed the subtract methode in my fork. But enconterd a bug in the map methode:
the col value passed to the function is wrong.

ps: it seems to be correct in the tushargupta51 fork

[2011-08-18 00:26] #12 closed, assigned to nobody

[2011-08-22 20:36] trevnorris opened #13 "Update QUnit tests"
The QUnit tests are way out of date.

[2011-08-25 19:18] trevnorris opened #15 "extend jStat object with distributions"
Add support for the syntax [discussed here](https://github.com/jstat/jstat/pull/11/files#L2R13).

[2011-09-05 05:07] #15 closed, assigned to nobody

[2011-11-01 15:27] #7 closed, assigned to nobody

[2011-11-01 15:28] #3 closed, assigned to nobody

[2011-12-25 15:24] richarddmorey opened #27 "bug in gamma/chisq cdf and inverse cdf"
(I just cloned the repository today, so I think I'm working with the most recent version; I would give you a revision number, but I don't know much about git)

There are several issues with the gamma cdf and inverse cdf.
-   On line 143 of distribution.js, the inverse cdf of the gamma distribution is defined as:

[code]

However, the function gammapInv() is undefined. On line 173 of special.js, th

[2012-01-07 03:14] #13 closed, assigned to nobody

[2012-01-21 00:42] trevnorris opened #29 "gammaln precision error"
A while back I simplified `gammaln()` for a performance improvement, at the cost of precision. But now that's become a problem.

Revisit `gammaln()` and make it more precise.

[2012-01-24 18:22] #27 closed, assigned to nobody

[2012-01-27 15:18] jdalton opened #33 "ES5 Function#bind fallback issue"
[code]

Here is [how es5-shim handles it](https://github.com/kriskowal/es5-shim/blob/28eeea69aa36e98fc32ffd3204fabc307abff921/es5-shim.js#L95-106).

[2012-01-27 21:48] #33 closed, assigned to trevnorris

[2012-01-27 22:49] #29 closed, assigned to nobody

[2012-02-03 17:02] richarddmorey opened #34 "binomial cdf returns values >1"
There's some imprecision here creeping in from somewhere.

[code]

R returns:

[code]

The problem appears to be combinationln, because using no logs:

[code]

agrees with R, and using logs for only the likelihood term:

[code]

also agrees with R. jStat.combination() fails, however, for moderately sized N and k:

[code]

So the logs are necessary for large N or small/large p situations. We should

[2012-02-03 18:42] #34 closed, assigned to trevnorris

[2012-02-04 16:04] richarddmorey opened #35 "gammap approximation breaks down for small k"
The gammap function has issues with moderately small values of a, where the function doesn't increase monotonically as x increases. For instance,

[code]

yields

[code]

If you look at a plot, it appears to have a discontinuity. The problem gets worse for progressively smaller values of a. The problem appears to be in lines 128-132 of special.js:

[code]

because it appears to happen when x < a +

[2012-02-04 16:43] richarddmorey opened #36 "poisson cdf returns values >1"
Similar issue to the binomial cdf, but this time there's no log(exp()) issue going on:

[code]

Since most of the discrete cdfs are going to be evaluated by summing, it would make sense to add a check:

[code]

That has the benefit of speeding up the code by not evaluating useless terms. But it might also have the downside of masking precision issues (like it would have with the binomial).

[2012-02-06 17:11] #36 closed, assigned to nobody

[2012-02-06 18:10] #35 closed, assigned to nobody

[2012-03-05 23:24] mcordingley opened #41 "Division By Zero in gammap"
If you call the gammap function with a and x such that a is greater than x by one, then line 119 of special.js throws a division by zero exception.

[2012-03-06 18:47] #41 closed, assigned to nobody

[2012-03-18 12:29] justingough opened #42 "Beta distribution PDF returns NaN for large parameters"
For large values of the parameters, beta distribution returns NaN in evaluating the pdf.

For example  jStat.beta.pdf(0.05,200, 4000).

The older jstat from jstat.org seems to use a different method for calculating the pdf in these cases, which succeeds where jStat doesn't.

I've done an interactive example comparing them on this page: http://www.peakconversion.com/calc/jstattest.html

The problem

[2012-03-29 03:22] yihui opened #43 "cannot use jStat.randn(n)"
it throws an error:

[code]

[2012-04-02 20:23] #43 closed, assigned to trevnorris

[2012-05-22 13:17] madflow opened #44 "Multiple Mode Values in Distribution"
The "Mode" is a rather nasty fellow... What to do if there is distribution where every value only exists once or if there are multiple mode values in general.

In jstat you decided to return false - if there is more than one mode value. This is understandable - but in my opinion not for the implementation in the framework to decide. We actually have customers who want to see the multiple mode valu

[2012-05-31 22:32] trevnorris opened #45 "jStat.fn.norm is incorrect"
`jStat.fn.norm` is currently assigned in `core.js` even though the method has been moved to `linearalgebra.js`. This needs to be fixed.

[2012-06-04 23:58] #45 closed, assigned to trevnorris

[2012-06-05 14:24] ChrisRackauckas opened #46 "Matrix Inversion - Gauss-Jordan"
On some test matrices I noticed matrix inversion was returning the wrong matrix. After much testing I noticed that the Gauss-Jordan algorithm has a problem since the left side matrix after Gauss-Jordan for matrix inversion was not the identity matrix. I would fix this myself but I was getting lost in the Gauss-Jordan algorithm so in the mean time I will do some other fixes.

[2012-06-07 20:10] trevnorris opened #48 "fn.cumsum( true )"
running `fn.cumsum( true )` results in an error if running over a matrix.

[2012-06-07 20:13] trevnorris opened #49 "vector methods should return jStat object"
If an instance method of jStat return an array, then the array should always be wrapped in a jStat object. example:

[code]

[2012-06-07 20:24] trevnorris opened #50 "fn.mode( true ) fails for matrices"
`fn.mode( true )` if ran over matrix. example:

[code]

The later result should be `4`.

[2012-06-07 20:46] trevnorris opened #51 "fn.variance & fn.stdev - flag population/sample"
In the static methods for `variance()` and `stdev()` a flag can be passed to indicate whether to compute the population or the sample for matrices. This cannot be done for the instance methods. Though it should be implemented.

[2012-06-19 21:17] #46 closed, assigned to trevnorris

[2012-06-22 20:04] benbuckman opened #54 "Not usable as a node.js module?"
This library builds with npm and is listed in the npm directory, but it can't itself be `require()`'d like a module, and none of its files `export` any methods. Is that by design?

[2012-06-29 01:34] ChrisRackauckas opened #55 "Known Issue: Regression"
There is a known issue with regression. It occurs due to some type checking (some things require a jStat object while others don't etc). It will get fixed in future.

[2012-07-09 12:12] tushargupta51 opened #56 "fn.mode() returns value where false is expected"
jStat.mode([1,2,3,4,3,2,4,1,5]) === 3 whereas a false is expected.

[2012-07-10 17:02] #44 closed, assigned to trevnorris

[2012-07-11 04:39] #56 closed, assigned to nobody

[2012-09-12 22:13] arhea opened #62 "Support for Triangular Distributions"
It would be nice if triangular distributions were supported by the library.

[2013-03-14 01:21] sethyuan opened #63 "Support for cross tabulation"
It would be nice if jStat could support cross tabulation too. Like R does, that is.

[2013-04-15 15:29] redchair123 opened #64 "Spelling mistake"
Project description is

Should say

[2013-04-29 03:25] #64 closed, assigned to nobody

[2013-04-29 03:52] #62 closed, assigned to nobody

[2013-05-08 18:26] trevnorris opened #65 "replace vows unit tests"
vows.js isn't working on node v0.10. seems to be no longer supported. need to replace it w/ something else.

[2013-06-11 16:46] #65 closed, assigned to nobody

[2013-08-07 08:30] feifeipan opened #66 "ttest function"
I wanna use ttest to test if my data(in array) is normal distribution.

What's the params "value" means in the ttest function

jStat.ttest( value, array, sides)?

Thanks.

[2013-08-08 13:34] ShijunK opened #67 "Instance function "multiply" taks only Array?"
Is it by design? I am so confused.

[code]

[code]

I built from this revision https://github.com/jstat/jstat/commit/e4c2d0cc43c02bbfa1c99969d72659a856e2d393

[2013-08-31 22:08] brianpeiris opened #68 "jstat needs to be cleaned up and needs a new release"
Sorry for the generic issue title. It seems jstat is now stagnant and the repo doesn't have a proper, tagged release. It might be fine if http://jstat.org was updated with API documentation for v1.0.0 but that is missing as well.

The README mentions that the project is in the middle of a merge. I'm not asking for the merge to be completed but it would be nice if v1.0.0 was documented or if a new

[2014-01-29 19:49] scottfr opened #69 "Where is jstat.org?"
What happened to jstat.org and the statistical library that was located there?

[2014-02-05 01:27] #69 closed, assigned to nobody

[2014-03-14 17:04] benmosher opened #71 "jstat.org link in Readme"
The preamble to the README about the divergence between this repo and jstat.org is confusing, as jstat.org seems to redirect to this repo.

Just a heads up.

[2014-03-19 20:14] #71 closed, assigned to nobody

[2014-03-26 04:41] #67 closed, assigned to nobody

[2014-04-13 20:45] trusktr opened #73 "What types of correlation does jstat do?"
DOes it do Pearson correlation coefficient? Spearman? Kendalls?

[2014-04-23 23:07] #73 closed, assigned to nobody

[2014-04-27 09:50] muuki88 opened #75 "Prebuild dist folder"
In order to use jstat without having to install node.js or to integrate it with WebJars, it would be nice if the `dist` folder would be part of the repository

[2014-05-01 22:39] #42 closed, assigned to trevnorris

[2014-05-05 23:41] #75 closed, assigned to nobody

[2014-06-17 00:24] #68 closed, assigned to trevnorris

[2014-06-25 04:09] jalateras opened #79 "Is there an equivalent to the Excel FINV function"
Is jStat.centralF.inv the equivalent function?

[2014-07-05 15:48] ambroselittle opened #81 "Would you put this up on cdnjs?"
Anyone can add their library here:
[https://github.com/cdnjs/cdnjs](https://github.com/cdnjs/cdnjs)

This makes it easier to reference your lib on public CDN.

[2014-07-15 21:37] #79 closed, assigned to nobody

[2014-07-15 21:38] #66 closed, assigned to nobody

[2014-07-16 23:19] #81 closed, assigned to nobody

[2014-07-29 20:08] akrawitz opened #85 "Issue with beta distribution's PDF"
Calling jStat.beta.pdf(0, 1, 4) returns NaN, when it should return 4. This seems to be true for all values of the beta parameter except for 1. Likewise, calling jStat.beta.pdf(1, 4, 1) also returns NaN instead of 4. Again, this problem seems to exist for all values of the beta parameter except for 1.

[2014-07-31 23:35] #85 closed, assigned to nobody

[2014-08-04 15:38] koorchik opened #86 "require("jStat") fails"
npm install jStat
require("jStat");

[code]

[2014-08-05 07:10] #86 closed, assigned to nobody

[2014-08-15 08:27] akrawitz opened #88 "Problem with jStat.studentt.inv"
`jStat.studentt.inv` doesn't return the correct values. For example, `jStat.studentt.inv(0.05, 5)` returns the same value as `jStat.studentt.inv(0.95, 5)`. A quick glance at the source makes me naively think that the line:
`return (p > 0) ? x : -x;`
should be:
`return (p >= 0.5) ? x : -x;`
But that's without my knowing if the rest of the function is correct.

[2014-09-03 07:39] #88 closed, assigned to nobody

[2014-09-03 07:40] #54 closed, assigned to trevnorris

[2014-09-18 07:46] akrawitz opened #96 "PDFs return inconsistent values outside of support"
The PDF functions for the different distributions are inconsistent in the value they return if the specified `x` falls outside of the support for the distribution.
For example:
`jStat.triangular.pdf(-1,1,5,3)` returns `0`
`jStat.chisquare.pdf(-1,5)` returns `NaN`
`jStat.centralF.pdf(-1,2,5)` returns `undefined`
I suggest that a consistent value be returned across all of the distributions. Furtherm

[2014-10-01 06:19] akrawitz opened #97 "jStat.centralF.pdf(x, df1, df2) returns NaN when x = 0"
`jStat.centralF.pdf(x, df1, df2)` returns `NaN` when `x` = `0`
The correct value depends on `df1` and `df2`, but it should always be well defined.

[2014-10-01 06:24] akrawitz opened #98 "jStat.chisquare.pdf(0, 2) returns NaN instead of 0.5"
`jStat.chisquare.pdf(0, 2)` returns `NaN` instead of `0.5`

[2014-10-01 06:39] akrawitz opened #99 "jStat.kumaraswamy.pdf(x, alpha, beta) is incorrect for certain values"
`jStat.kumaraswamy.pdf(x, alpha, beta)` is incorrect for certain parameter values. When `alpha` = `1` and `x` = `0` it returns `NaN` instead of returning a value equal to `beta`. Likewise, when `beta` = `1` and `x` = `1` it returns `NaN` instead of a value equal to `alpha`.

[2014-10-01 06:50] akrawitz opened #100 "jStat.centralF.pdf(x, df1, df2) fails for larger values of d1 and d2"
`jStat.centralF.pdf(x, df1, df2)` fails for larger values of `d1` and `d2`. For example:
`jStat.centralF.pdf(1, 100, 100)` returns `NaN` instead of `1.989731`
`jStat.centralF.pdf(1, 4, 200)` returns `NaN` instead of `0.5359988`

[2014-10-02 05:34] akrawitz opened #101 "jStat.triangular.pdf(x, a, b, c) returns NaN instead of 1 when c = a and x = a"
`jStat.triangular.pdf(x, a, b, c)` returns `NaN` instead of `1` when `c` = `a` and `x` = `a`. For example: jStat.triangular.pdf(2, 2, 4, 2) returns `NaN` instead of `1`,

[2014-10-02 05:40] akrawitz opened #102 "jStat.pareto.pdf(x, scale, shape) returns undefined instead of shape/scale when x = scale"
`jStat.pareto.pdf(x, scale, shape)` returns `undefined` instead of `shape`/`scale` when `x` = `scale`. For example: `jStat.pareto.pdf(2, 2, 4)` returns `undefined` instead of `2`.

[2014-10-02 05:46] akrawitz opened #103 "jStat.studentt.pdf(x, dof) fails for larger dof"
`jStat.studentt.pdf(x, dof)` fails for larger values of `dof`. For example, whereas `jStat.studentt.pdf(0, 341)` correctly returns `0.39864990721151966`, `jStat.studentt.pdf(0, 342)` incorrectly returns `0`, and `jStat.studentt.pdf(0, 343)` incorrectly returns `NaN`.

[2014-10-02 06:16] akrawitz opened #104 "Some CDF functions return incorrect values outside of support"
The cumulative distribution function (CDF) for a probability distribution should be well-defined for any value of `x` (assuming the values provided for the parameters of the distribution are "legal"). If the support for a distribution is left-bounded, then the CDF should be `0` below the left bound. If the support for a distribution is right-bounded, then the CDF should be `1` above the right boun

[2014-10-02 06:33] akrawitz opened #105 "Request for a version number in jstat.js"
It would be helpful if the jStat library had a version number (in the actual Javascript file, not just in GitHub). This could be as simple as a comment at the top of the file, although there could also be a function that returns the version number. This is helpful for users (such as myself) so that they know which version of the library they currently have, and can then easily determine when a new

[2014-10-15 15:20] rfink opened #106 "Use grunt.js to do the building, removing the need for make (and the windows make dependency)"
http://gruntjs.com/

If I have time in the next few weeks, I can fork and take a stab at it.

[2014-11-06 22:39] JohannesBuchner opened #108 "jStat.exponential.inv takes 2 parameters"
According to the doc it takes one parameter

https://jstat.github.io/all.html#jStat.exponential.inv
jStat.exponential.inv( rate )
Returns the value of x in the inverse of the cdf for the Exponential distribution with the parameter rate (lambda).

But in reality it takes two:
 inv: function(p, rate) {
return -Math.log(1 - p) / rate;
},

The doc should to be corrected.

[2014-11-06 22:50] JohannesBuchner opened #109 "jStat.uniform.inv is not defined"
jStat.uniform.inv(p, a, b) should exist in src/distribution.js

Something along these lines:

[code]

[2014-11-08 10:11] #109 closed, assigned to nobody

[2014-11-10 22:53] #100 closed, assigned to nobody

[2014-11-19 13:22] shenberg opened #113 "erfcinv is actually erfinv"
Only used in Normal.inv, everything's right except for the name.

[2014-12-08 17:11] #108 closed, assigned to nobody

[2014-12-17 05:10] rsrandhawa opened #117 "Gammap error?"
Hi, I was unable to get gammap(a,x) to corroborate with Mathematica values. gammap(a,x) should equal Mathematica's Gamma[a,0,x] function.
Fix(?): if one calculates gammap(a,x)*gammafn(a), then this does equal Mathematica's Gamma[a,0,x].

[2014-12-17 20:21] #102 closed, assigned to nobody

[2014-12-17 20:24] #48 closed, assigned to trevnorris

[2014-12-19 22:26] #113 closed, assigned to nobody

[2014-12-19 23:08] #117 closed, assigned to nobody

[2014-12-30 18:45] jamescgibson opened #121 "Straighten Out Gamma Function Naming"
`jStat.gammap` has the [comment](https://github.com/jstat/jstat/blob/1.0/src/special.js#L71-72):

[code]

Issue #117 pointed out that `jStat.gammap` didn't accurately implement the lower incomplete gamma function, and it was changed to accurately implement the lower incomplete gamma function in 4f955e244c38a1ec17de8d74bd757ef98cd12658.

However, the definition of `jStat.chisq.cdf defines:

[code]

[2015-01-05 22:17] #98 closed

[2015-01-20 15:47] jamescgibson commented on #97
This was closed by 0566f0736a826ab2552e5b68134d7336af85dabe. Closed.

[2015-01-20 15:47] #97 closed

[2015-01-22 18:40] trevnorris commented on #101
Fixed by 8a992a1.

[2015-01-22 18:40] #101 closed

[2015-02-11 15:20] dgerber opened #125 "Drop new Function constructs"
Hi,
In node.js repl:
[code]
because  of the unusual scope resulting from the Function constructor.

In core.js:455:
[code]

[2015-02-11 16:37] trevnorris commented on #125
Thanks. Will take care of it.

[2015-02-11 18:59] skyl opened #126 "make doc does not work with (BSD grep) 2.5.1-FreeBSD in MacOS 10.8.5"
On MacOS 10.8.5, the builtin version of `grep` is `grep (BSD grep) 2.5.1-FreeBSD`. This version appears not to support the `-P` flag. Thus, `make doc` fails because of:

[code]

with:

[code]

This can be worked around by installing GNU grep and aliasing `grep` to that. For instance, http://stackoverflow.com/a/26064330/177293

[2015-02-11 19:41] jamescgibson commented on #126
My bad. I'll figure out how to accomplish the same thing without the -P flag. Thanks for the bug report!

[2015-02-11 20:44] trevnorris commented on #126
Fixed by f84ed22. Published in 1.1.3.

[2015-02-11 20:44] #126 closed

[2015-02-13 18:35] fasiha opened #129 "Lower incomplete gamma function arugment order switched?"
I think that, in both the source and the documentation, the order of the lower incomplete gamma functions is switched. Currently both say, `gammap( a, x )`, which leads me to believe that the upper bound of the integrand is `a` while the argument is `x` (matching `gammafn(x)`). However, the function treats "`a`" as the argument value, and "`x`" as the integral's upper bound: compare jStat with mpm

[2015-02-13 18:41] fasiha commented on #117
Please consider adding a boolean third argument to gammap allowing the user to skip the scaling in `gammap` by `gammafn(x)`. The default can be such that it does scale it, as it currently stands.

This will be helpful, e.g., when evaluating the *upper* incomplete gamma function. Right now we have to do this:
[code]
which requires *two* calls to `gammafn` (one inside gammap and one outside, to undo

[2015-02-13 20:27] jamescgibson commented on #117
Hi @fasiha,

There is the `jStat.lowRegGamma()` function that `gammap` calls, which returns the lower regularized gamma function.

Right now `gammap` is just `lowRegGamma * gammafn`. Would this help?

If you have some thoughts on how to best implement the full set of gamma functions, I'd love to hear them; you mention a boolean flag but I worry that boolean flags have too much opportunity for mist

[2015-02-13 20:57] fasiha opened #130 "Accuracy of gammafn"
Could we improve `gammafn`'s accuracy?

I'm comparing it against mpmath (from sympy, try it online at http://live.sympy.org/) and numpy/scipy:
[code]
(Results included in case you don't have a Python.) Here's jStat (with lodash/underscore's `range`):
[code]
Since scipy and mpmath agree to machine precision, here's the normalized error beteen jStat and scipy:

![relerr](https://cloud.githubusercont

[2015-02-13 22:14] fasiha commented on #117
Aha!!! Got it, thanks!

[2015-02-14 04:28] fasiha commented on #130
One workaround, for `x` in this part of the domain at least, is to use `gammaln` and `Math.exp`: relative error for this example is then < 7e-14.

[2015-02-14 20:37] jamescgibson commented on #130
Looks like "Numerical Methods in C" recommends calculating gamma as the exponent of gammaln. If you don't mind doing the analysis for a larger range of values, that'd be much appreciated, just to make sure we don't introduce a regression.

I'll prepare a pull request for the change now.

[2015-02-14 21:47] fasiha commented on #130
Eek, you don't want to do that because `Math.exp(gammaln(x))` won't work for negative `x`, where `gammafn(x)` can be negative! Bad *Numerical Recipes in C*, bad dog!

[2015-02-14 22:33] jamescgibson commented on #130
We can case it and use the existing implementation for negatives and the `Math.exp(gammaln(x))` for positive nonintegers - one advantage of the current implementation is that it provides exact results for positive integers.

Cephes' implementation looks great, but very complex - personally, given that JavaScript isn't a common language for serious numerical computation anyway, I'm inclined to set

[2015-02-14 23:00] jamescgibson commented on #129
Good catch. The gamma(a, x) notation parallels Mathematica's labeling, which is why it was chosen. I'll create a PR to switch the documentation for `jStat.gammafn(x)` to `jStat.gammafn(a)` so that the labeling is consistent.

Since the tests check against values from Mathematica, it seems like this is the easiest way to label it.

Thanks for the bug report!

[2015-02-15 03:36] fasiha commented on #129
Glad to help, thanks for your appreciative words!

Personally I think of `a` (& `b`) as integration bounds while `x` (or `z`) a possibly-complex argument but now I see that that's how Mathematica does it :open_mouth: !

I beg you to add some documentation to `gammap` that explains this, perhaps ideally by just writing out the definitional integral?

[2015-02-15 03:38] fasiha commented on #129
Actually, I see that Mathematica also uses `z` (our `x`) for Gamma but switches to `a` for incomplete Gamma (and uses `z`/`x` as a bound). So confusing to me...

[2015-02-15 04:03] fasiha commented on #130
I think the way to think about Cephes' `gamma`'s complexity is that there are basically *three* Gamma implementations there (rational approximation, truncated recurrence, Stirling approximation), with some logic to decide which of them to use depending on where in the domain it's going to be evaluated. I think this is a good thing: you *want* different algorithms for different parts of the domain

[2015-02-15 05:53] jamescgibson commented on #129
I'll see about adding mathjax to the docs so that we can put integrals in
the documentation. I'll definitely add more documentation making this
clear.

Thanks!
On Feb 14, 2015 10:37 PM, "Ahmed Fasih" <notifications@github.com> wrote:

[2015-02-15 06:00] jamescgibson commented on #130
Good explanation. I think my concern here is just what the goals of the
library are in general in terms of complexity versus accuracy. For this
function it probably makes sense to make it as accurate as possible, but
I'd like to have a framework for making decisions about this at the library
level in general.

If you are writing a three phase gammafn(a), please consider submitting a
pull request!

[2015-02-16 07:24] fasiha commented on #130
Right you are @jamescgibson, I ported the relevant functions, plus two more for the incomplete gamma function, from C to Javascript by hand for testing purposes, and put together a quick demo to visualize better the differences between jStat's and Cephes' implementation of this function. http://fasiha.github.io/jstat-cephes/ shows the relative error between the two for the unnormalized and normali

[2015-03-17 19:51] kbroman opened #131 "Add non-central t distribution"
It might be useful to add the non-central t distribution, which is helpful for power calculations.

I've written some code, at the bottom of [this file](https://github.com/kbroman/d3examples/blob/master/ttest_power/distributions.coffee) (functions `pnct` and `dnct` for the CDF and density, respectively). It's CoffeeScript and not pretty, but may be useful.

I think I could work it up into a proper

[2015-03-17 21:28] trevnorris commented on #131
@kbroman for the time being as much as you have will be sufficient.

[2015-03-18 00:58] kbroman commented on #131
I tried [adding code for the PDF and CDF of the non-central-t](https://github.com/kbroman/jstat/commit/62a2120d7d614132d49b71f59b9f89ca6a0035f6), but the tests in comparison to R show the algorithm I'm using behaves very poorly for large values of the non-centrality parameter. Need to find a different method and can't use R's code because GPL.

[2015-03-18 01:45] kbroman commented on #131
If I [force use of at least 200 iterations](https://github.com/kbroman/jstat/commit/1fd6a0c875c5bb1f2bd6e211de8e83a4a1231bd6), the tests for largish non-centrality parameter values now pass. So I need to study the convergence criterion further. (The approximation can work, as long as one goes far enough out in the tail.)

[2015-03-18 01:54] jamescgibson commented on #131
For what it's worth most of the current algorithms work poorly for large parameters anyway.

[2015-03-23 13:17] cthurston commented on #106
You could just use npm and write the "make" step in package.json.  See http://blog.keithcirkel.co.uk/why-we-should-stop-using-grunt/

[2015-04-20 22:54] mryellow commented on #54
Just a note for those to follow:

Using `this.j$ = this.jStat = (function( Math, undefined ) {` as noted above, means that it isn't immediately available upon loading with RequireJS.

RequireJS Shim config, need to use `init` to pass out that variable.

[code]

http://stackoverflow.com/a/28096524/2438830

[2015-04-21 14:27] jamescgibson commented on #54
@mryellow: I'm not a node expert, but if this works in general could you make a PR to add this info to the Readme? I'm sure it'd be helpful for a lot of peopel!

[2015-04-21 21:09] mryellow commented on #54
No problem, will push something later today.

Include `j$`? It choked on the `$`, figure needs to be in quotes.

[2015-04-23 22:53] omar-aguilar opened #133 "Incorrect formula for mode in Beta Distribution"
Hi :)

Looks like for Beta distribution, it's using the same formula for mode and variance, but that should not be the case

[code]

Regards

[2015-04-24 20:52] trevnorris commented on #133
Hm. That does appear to be a problem. Have a solution?

[2015-04-25 07:00] jamescgibson commented on #133
Patched in #134! Many thanks for the bug report, @omar-aguilar.

[2015-04-25 07:02] #129 closed

[2015-04-27 03:28] jamescgibson commented on #131
@kbroman Is there any objection to us pulling your code upstream? Would love to get this distribution into the library! :+1:

[2015-04-27 03:54] kbroman commented on #131
I'd be very glad to have my code used; should I submit a proper pull request?

[2015-04-27 07:31] jamescgibson commented on #131
If you can, please do! :+1: I'm happy to cherry-pick your code out if it would be time-prohibitive, but love to have the proper people added to GitHub's PR-tracking.

[2015-04-29 21:22] trevnorris commented on #131
Fixed by 7e5d94f51. Working on a release, but npm is having some issues.

[2015-04-29 21:27] trevnorris commented on #133
Fixed by 7e5d94f. Working on release, but npm is having some issues.

[2015-04-29 21:52] trevnorris commented on #131
Fixed by 648342ad.

[2015-04-29 21:52] #131 closed

[2015-04-29 21:53] #133 closed

[2015-04-29 21:56] trevnorris commented on #125
This was fixed in 07157cc5.

[2015-04-29 21:56] #125 closed

[2015-05-04 23:07] mcclella commented on #103
I've encountered the same problems with the pdf's in the t, F, and chi-square family.  In contrast, the cdf's seem accurate for the same dof's for which the pdf's fail.  My workaround is to take the poor man's derivative as below:

        d = .0001;
	for(i=135; i<=150; i++) {
		myPDF = (jStat.centralF.cdf(3.5+d,1,i) - jStat.centralF.cdf(3.5-d,1,i))/(2*d);
		console.log(""+i+ "   " +jStat.centralF

[2015-05-05 02:11] trevnorris commented on #103
@mcclella Thanks for the more comprehensive list of failures you're currently experiencing. I'll take a look, but I'm no math expert so no guarantees. Though I'll gladly accept a PR. :)

[2015-05-05 15:16] arturaugusto commented on #103
"A t-distribution with infinitely many degrees of freedom is a normal distribution"(http://en.wikipedia.org/wiki/Student%27s_t-distribution)

So, for v > 300, the difference is very small:
[code]

#137 pull request limits dof to 300

[code]

resulting:

[code]

[2015-06-18 12:19] jamescgibson commented on #106
@trevnorris I submitted a PR which uses your suggestion of just writing things into the package.json file - it's a lot less pretty than the Makefile, but is more portable (no need to install make) and gets the job done.

[2015-06-18 21:09] trevnorris commented on #106
@jamescgibson Thanks. I'll try to take a look by the weekend.

[2015-06-19 06:11] jamescgibson commented on #63
I'm trying to develop this on https://github.com/jamescgibson/jstat/tree/feature/63-cross-tabs , but can't get my tests to run because of an undefined method isArray error. It looks to me like it should work, but I don't fully understand the different ways functions get added to jStat in different parts of the code. @trevnorris , mind taking a look and telling me where I'm going wrong in terms of

[2015-06-22 18:24] trevnorris commented on #50
Fixed by 72345c45c6

[2015-06-22 18:24] #50 closed

[2015-06-22 18:28] trevnorris commented on #63
@jamescgibson It should be `jStat.utils.isArray()`. for any usage that isn't in `core.js`.

The reason that even exists is because of browser compatibility crap way back when. I need to rethink what's supported.

[2015-06-22 18:40] jamescgibson commented on #106
@cthurston and @rfink, @trevnorris and I are discussing this issue on #142. I'd love to have your input on what the advantages / disadvantages of the proposed solutions are.

[2015-06-22 18:41] jamescgibson commented on #63
It's used all over the place for differentiating two-dimensional array arguments from one-dimensional array arguments in different functions - we should just be able to use the built in isArray though, right?

In any case, appreciate the help, will work on this issue and we can refactor the rest of the mess in a separate issue.

[2015-06-22 18:56] trevnorris commented on #63
IE didn't start supporting `Array.isArray` until version 9. This project was started before 9 existed. Hence the poly-fill in case the browser didn't support it. But yeah, do need to reevaluate what browser versions we want to support.

[2015-07-05 18:45] mackler opened #145 "MIT-LICENSE.txt filename prevents WebJar deployment"
Hi:

I want to deploy `jstat` as a WebJar using the tool at http://www.webjars.org/bower, but am unable to do so because of the name of the file `MIT-LICENSE.txt`.  The exact error message I got is:

Is there any chance I could persuade the developers of this project  to enable its deployment as a WebJar by adding a (non-array) `license` property to the `package.json` object?  I'm not an expert, b

[2015-07-05 19:06] jamescgibson commented on #145
I'm not familiar with web jars at all, but I see no reason not to merge a PR that renames MIT-LICENSE.txt to LICENSE.txt.

[2015-07-05 19:40] mackler commented on #145
Thank you for the invitation.  I have submitted [Pull Request 146](https://github.com/jstat/jstat/pull/146).

[2015-07-05 19:40] #145 closed

[2015-07-09 00:38] akrawitz commented on #101
I must apologize for providing the wrong fix for this NaN. When `x = c`, the correct value in the general case is `2 / (b - a)`, not '1'. (Although '1' happened to be the correct value for the example provided.) For a clear definition of the PDF across all possible values see the [Wikipedia page for the Triangular distribution](https://en.wikipedia.org/wiki/Triangular_distribution).  I will make a

[2015-07-09 02:12] trevnorris commented on #101
No worries, and thanks for coming back once you caught the issue.

[2015-07-09 21:46] akrawitz commented on #97
While this now works when `df1 > 2`, it is still returning `NaN` when `df1 <= 2`. With `x = 0`, when `df1 = 2` then it should return `1`, and when `df1 < 2` (and greater than 0), then it should return `Infinity`.

[2015-07-09 22:46] akrawitz commented on #98
I agree with your statement of the range, however I disagree with your conclusion. This range includes `0` (the `[` is inclusive), so the pdf can take on non-zero values when `x = 0`. Specifically, when `dof < 2` then the pdf should return `Infinity`, when `dof > 2` then the pdf should return `0`, and when `dof = 2` then the pdf should return `0.5`. You can confirm these with `dchisq()` in R.

[2015-07-14 23:21] akrawitz commented on #99
Just submitted a pull request.
Add special cases for the two instances where the 'log' form of the PDF
fails (when x = 0 and alpha = 1, and when x = 1, and beta = 1).
Also added extensive tests for the kumaraswamy.pdf() based on dkumar()
in R package VGAM. Note that there are a few cases where the R function
incorrectly returns NaN. You can confirm the correct values in these
cases by doing the ma

[2015-07-14 23:32] akrawitz commented on #96
Just submitted a pull request (#156) that updates distributions (centralF, chisquare, gamma, invgamma, kumaraswamy, lognormal, pareto) to return 0 when x is outside of the support. Also adds tests for these cases.

PDFs are defined for all values of x. When x is outside of the support, the PDFs should return 0. This is a distinct issue from what they should return when a parameter to the distribut

[2015-07-15 19:21] akrawitz commented on #104
Submitted pull request #157 that fixes this issue, and adds tests for these cases.

[2015-07-30 09:35] rasmusab opened #159 "Adding log pdf methods to the distribution objects"
I would be cool if the distributions also had a method for calculating the log pdf, like in R you can set log = TRUE for all distributions. The use case for this would be when you want to do maximum likelihood (or Bayesian statistics) but want to use the log likelihood for numerical accuracy.

[2015-08-26 07:25] trevnorris commented on #104
Fixed by 6840ac23a.

[2015-08-26 07:25] #104 closed

[2015-08-26 07:26] trevnorris commented on #99
Fixed by a4cae10.

[2015-08-26 07:26] #99 closed

[2015-09-09 23:40] NorthDecoder opened #161 "Dead links on _toc.md page"
The Table of Contents page at
  https://github.com/jstat/jstat/blob/master/doc/md/_toc.md
has dead links.
For example
  https://github.com/jstat/jstat/blob/master/doc/md/overview.html
  results in a 404 page not found error

It could be set to
  https://github.com/jstat/jstat/blob/master/doc/md/overview.md
where the suffix 'html' is replaced by 'md'.

[2015-09-12 18:17] dylancwood opened #162 "Add Laplace (Double Exponential) Distribution functions"
I was recently tasked with using jStat to sample random variables from a Laplace CDF. This can be done using the exsitng `jStat.exponential` functions, but it would be convenient if there were built in Laplace functions.  Would you be interested in merging a Pull Request that contained Laplace `pdf`, `cdf` and `inv` functionality?

[2015-09-12 21:28] jamescgibson commented on #161
Thanks for the bug report! I'll take care of this later today.

[2015-09-21 22:24] trevnorris commented on #162
Sure thing. Most of this library exists because of community contributions. :)

[2015-09-21 22:25] trevnorris commented on #161
@jamescgibson Can this be closed?

[2015-09-29 15:56] NorthDecoder commented on #161
I may not be looking at the correct branche(es) however it appears that no fix is in place yet, so I created a [pull](https://github.com/jstat/jstat/pull/164) request with the proposed [fix]
(https://github.com/jstat/jstat/commit/ef461a739b162162be3bc18e23211ab1cde0f590). I have found the library to be useful and wanted help out appropriately!.

[2015-10-03 21:50] acthp opened #167 "gauss_jacobi, mutating inv, aug"
There are no docs, tests, or examples for gauss_jacobi, so it's rather hard to guess how to use it. I tried various permutations of jStat objects, js objects, different orientations, without success, along the lines of this:

    jstat.gauss_jacobi([[1, 0], [0, 1]], [[5], [3]], [[1], [1]], 0.01);

Digging in, I found that the variable 'd' is being mutated in the call to ```inv```, and ```inv``` in

[2015-10-08 21:12] acthp opened #168 "unwrapping prevents composition"
Various jStat methods, like multiply, dot, and transpose, unwrap matrices to vectors, and vectors to scalars, if they have length one. This prevents composing these methods into expressions. Instead, after every computation one has to check for these special cases and re-wrap the values in the proper type if they've been demoted.

What is the idea here? Is there some way to avoid this?

[2015-10-12 17:44] trevnorris commented on #167
Added that over 4 years ago. At the time I think a lot of those came from translating from existing implementations as best I could. (not a statistician myself) and didn't have any tests setup to verify the values. Do you know of a good existing implementation I could look at?

[2015-10-12 18:02] trevnorris commented on #168
Initial idea was to simply return what was produced. For improved composability should jStat coerce values into matrices? I'd be okay w/ returning all vectors as matrices, but I think not wrapping scalars is the better option there.

[2015-10-12 18:43] acthp commented on #167
This bug report doesn't really require much in the way of tests, because the root is not the ```gauss_jacobi``` method, it's the ```aug``` method, which is quite easy to test. It shouldn't corrupt its inputs. The bug is that it does. A simple unit test should suffice.

As far as testing gauss_jacobi, I would recommend testing against R. Coincidentally, I just wrote a generative test against R for

[2015-10-12 19:07] acthp commented on #168
The issue is that in an expression like

    (a, b) => multiply(multiply(b, inv(a)), transpose(b))

if the inner multiply results in a 1x1 matrix it will be demoted to a scalar, which then throws an error in the outer multiply, since the 1st argument to multiply should be a matrix.

So the extra code in transpose() and multiply() that changes the returned data type requires writing extra code in t

[2015-10-12 20:40] acthp commented on #168
Specifically, I'm suggesting changing this line:

https://github.com/jstat/jstat/blob/master/src/linearalgebra.js#L60

to just do ```return res```. And this line:

https://github.com/jstat/jstat/blob/master/src/core.js#L201

to do ```return obj```. There are a few others that probably cause the same problem, like ```map``` and ```cumreduce```.

[2015-10-13 21:32] trevnorris commented on #168
Hm. In retrospect that seems better. If you'd like feel free to open a PR with all these changes.

[2015-10-13 21:48] #167 closed

[2015-10-13 21:48] trevnorris commented on #167
Thanks for the report. Issue should be fixed, and released in 1.4.5.

[2015-11-10 16:40] pratapvardhan opened #170 "Adding helper functions to jstat"
I was checking out for certain functions in jstat and thought these might be handy to have

- index of first occurrence of maximum
- index of first occurrence of minimum
- Elementwise bit operations AND, OR, XOR of two arrays
- Unique values in an array
- Rotate/Roll array elements

before, I take this up and implement few of them, I thought I'd ask the community, if they are open with these addit

[2015-11-10 17:45] jamescgibson commented on #170
Is the goal that these might be handy to have for writing statistical functions, or just might be handy to have in general for end users of the jStat library?

* Personally, I'm not sure that the library weight is worth it for the indexOfMaximum / indexOfMinimum.
* What would the use case be for the bit operations for AND/OR/XOR?
* Unique values from an array does sound quite useful.
* I'm not sur

[2015-11-10 17:47] jamescgibson commented on #168
:+1: on this idea - happy to do the PR as well. Though, this might break compatibility - would this need to go into a major version release?

[2015-11-10 17:47] jamescgibson commented on #161
Closed by #164

[2015-11-10 17:51] trevnorris commented on #161
Note: That PR was reverted because it broke the generated web documents.

[2015-11-10 17:53] jamescgibson commented on #161
@trevnorris My mistake. Will address now then.

[2015-11-10 21:41] trevnorris commented on #168
@jamescgibson Yeah, it'll be in a major release, but since we don't have any strict release schedule that can happen whenever. If you make the PR i'll cut a branch for the current major and we can land it. Then can maintain the old major as necessary.

[2015-11-11 06:54] pratapvardhan opened #172 "spearmancoeff edgecase error"
Output for `[1, 2, 3, 4], [5, 5, 5, 5]` is `1`
[code]
Expected should have been undefined. (NaN or soemthing alike but not 1)

Since the standard deviation is zero in `arr2` and there is only 1 rank here.

[2015-11-11 07:05] pratapvardhan commented on #170
1 & 2 -- would be helpful in lookuping for corresponding attribute values. If data was stored in aray of arrays structure, and max from one column is used to lookup for remaind column values?

3 -- bit operations more for conditional logic usecase to do something like
[code]

4 -- would be something like
[code]

[2015-11-11 19:22] jamescgibson commented on #170
Would love to hear from the community on these. I can't think of traditional statistics use cases for them, personally, but I haven't been practicing statistics for a bit.

[2015-11-11 19:38] jamescgibson commented on #172
I've created a failing test for this case and confirmed that NaN follows the convention for other statistical software like R.

I don't believe that the current spearmancoeff implementation handles ties at all. I will investigate this, though another option would be to simply throw NaN if there are any ties, and document accordingly.

[2015-11-12 17:50] gibito commented on #55
Hi @ChrisRackauckas
Is this issue the causes of the following error?

**jStat(XTX_INV).multiply(XTY)**

// returns
[
 [NaN, NaN],
 [NaN, NaN]
]

where:

XTX_INV = [
              [6.1542056074766331,-0.2897196261682242],
              [ -0.289719626168224161, 0.014018691588785041]
];

XTY = [
             [322],
             [6746]
];

**Results, using Excel**
=MMULT(XTX_INV,XTY)

we get

[
  [27.

[2015-11-12 17:52] pratapvardhan commented on #172
@jamescgibson -- Thanks. I've implemented spearmancoeff for ties and submitted the PR.

[2015-11-12 18:47] jamescgibson commented on #172
:+1: Beautiful, thank you

[2015-11-12 19:11] jamescgibson commented on #172
Thanks. Closed in ccddd66c7e61126c0c44110e0fb1c5f1f2863aea

[2015-11-12 19:11] #172 closed

[2015-11-17 07:44] gibito opened #176 "jStat multiply bug"
Gents,

@trevnorris
@mrwillihog

Please shed some light here:

If you look at the console of this fiddle, https://jsfiddle.net/c8p5kv0r/3/

You will see that jStat calculations break at XTY variable in a very strange way:

When XTY is calculated as  XTY = jStat(XT).multiply(Y), we get a correct (compared to Excel calculations) 2 x 1 matrix BUT the following calculation using it, produces NaNs and

[2015-11-19 23:23] #161 closed

[2015-11-19 23:57] trevnorris commented on #176
Thanks for the test case. Will investigate why this is happening.

[2015-11-20 00:03] trevnorris commented on #176
Minimal reproduction:
[code]

[2015-11-20 00:20] trevnorris commented on #176
Believe this is linked to https://github.com/jstat/jstat/issues/55. The gist is there are a bunch of `isArray` checks only if the argument is an Array. If not then it takes a different path. So it should also check `instanceof jStat` and treat that as an array.

I'll work up a fix this weekend.

[2015-11-20 19:16] #176 closed

[2015-11-20 19:18] trevnorris commented on #176
The fix has been released in 1.5.0.

[2015-12-01 17:36] ChrisRackauckas commented on #55
I think the bigger fix for this will be once someone finishes the QR algorithm to re-implement the regression via QR. A quick explanation is here if anyone has the time to code it:

https://www.stat.wisc.edu/~larget/math496/qr.html

[2015-12-01 20:57] trevnorris commented on #55
Awesome. Thanks for the additional information.

[2015-12-03 23:07] mmport80 opened #178 "Liner Algebra Multiplication"
When I do this:

rets = jStat([[1,2,3,4]]).transpose();
rets.multiply(jStat.identity(4));

I get:

[
[1,0,0,0],
[2,0,0,0],
[3,0,0,0],
[4,0,0,0]
]

any idea whether this is a bug or I am doing something wrong?

Thanks

[2015-12-04 20:57] trevnorris commented on #178
What's the expected outcome?

[2015-12-06 00:19] suomela opened #179 "jStat.beta.pdf(x, a, b) fails for small a, large b"
E.g. this returns NaN:

    jStat.beta.pdf(x, 200, 4000)

The problem is apparently this line of code:

    if (alpha < 512 || beta < 512) {

I guess `||` should be `&&`?

[2015-12-08 00:23] #162 closed

[2015-12-11 00:12] #179 closed

[2015-12-11 00:14] trevnorris commented on #179
Fix released in v1.5.2.

[2015-12-18 03:00] gungorbudak opened #182 "Chi2 Distribution at Extremes"
Hi,

I'm using Chi2 distribution from jStat and I'm interested in `P[X > x]` (as in `pchisq` in R). Right now, I'm doing this by subtracting the result from `1`, but sometimes I get `0`:

`1 - jStat.chisquare.cdf(161.1336015828745, 4) // returns 0`

When I do the same in R:

`1 - pchisq(161.1336015828745, df = 4) # returns 0`

Still I get zero but it should be `8.352114e-34`.

In R, the upper tail

[2015-12-22 00:07] trevnorris commented on #182
PR's are always welcome. :)

[2016-01-04 20:07] mmport80 commented on #178
a diagonal matrix - no?

[2016-01-06 00:22] trevnorris commented on #178
@mmport80 Sorry. Should explain I'm not a mathematician. I started this a long time ago as a basic set of functionality that has slowly accumulated. I just do my best to make sure it's working properly. Could you give me precise output you're expecting? I read the code you provide as:
[code]

[2016-01-14 22:45] swashcap opened #183 "Publish latest to NPM"
Could please you `npm publish` so the latest is available to NPM users? Looks like 1.1.5 is the most recent:

![latest-jstat](https://cloud.githubusercontent.com/assets/1858316/12340011/2a680292-bacd-11e5-9d03-92c858ffdd3e.jpg)

This workflow could be automated, possibly alongside the work happening in #142. My colleauge Mr. Daringer set up some [nice NPM scripts in one of our projects](https://gi

[2016-01-15 20:04] trevnorris commented on #183
Updated. The package is technically `jStat` and not `jstat`. The latter was published on accident, but I'll try and remember to update both on release.

[2016-01-15 20:04] #183 closed

[2016-01-15 20:20] jamescgibson commented on #182
jStat currently implements the chisquare PDF naively based on the definition of it. I expect that, like the gamma function, there's a more numerically stable and efficient way to implement it that will address these extreme values better.

In general, jStat only provides accuracy to 10^-6.

Eventually I'll have time to dust off my copy of Numerical Recipes and implement it, but in case someone els

[2016-01-16 08:06] gungorbudak commented on #182
What I have now methods called `uppRegGamma` and `sf` in [my project](https://github.com/gungorbudak/seten/blob/master/assets/js/libs/stats-javascript.js). I need to make a pull requests for this and for [Mann Whitney U test I made](https://github.com/gungorbudak/seten/blob/master/assets/js/libs/mannwhitneyu.js).

[code]

[code]

[2016-01-18 13:51] mmport80 commented on #178
This should be the output:

1 0 0 0
0 2 0 0
0 0 3 0
0 0 0 4

Let me know if I can be of more help (john.orford@gmail.com).

I really like the library - thanks for all the effort! Appreciate it!

[2016-01-20 00:03] jamescgibson commented on #182
@gungorbudak PRs much appreciated - though it'd be great if any code that is added via pull request is cleanly distributable under jStat's (MIT License)[https://github.com/jstat/jstat/commit/5e884ac5fc3967b7f392de0f81c8e9631d0c6d58].

I'm honestly not educated enough on different licensing to know how a port of a e.g. SciPy project would count?

[2016-01-22 19:48] trevnorris commented on #178
@mmport80 I've attempted to multiply as you've said using Wolfram matrix calculator. Tells me that's invalid input.

[2016-01-23 18:41] jamescgibson commented on #178
Perhaps we mean the row matrix?

[code]

Should have the expected output - rows times columns

[2016-01-24 02:35] JamesJansson commented on #178
If multiplying, A a n × m matrix with B, a p × q matrix, where m!=p does
not throw an error (but instead gives an incorrect output as above) this is
a pretty serious problem and needs fixing immediately. Trevor can you
implement this test for the dimensions being correct?

https://en.wikipedia.org/wiki/Matrix_multiplication#Row_vector.2C_square_matrix.2C_and_column_vector

On Sun, Jan 24, 2016 at

[2016-01-27 01:02] daluu opened #184 "Mention jStat usage on the client side in Readme?"
I notice the Readme only mentions NodeJS for usage, however, from what I read in this [book](http://onlinelibrary.wiley.com/doi/10.1002/9781119209386.ch8/summary) and testing it out myself, jStat works on client side as well.

Sadly that book and this project's Readme both do not explicitly state usage instructions for client side. The module loader tidbit of the Readme might be helpful info to th

[2016-02-02 22:04] trevnorris commented on #178
@JamesJansson Will take a look. Thanks for the reference.

[2016-02-02 22:13] trevnorris commented on #184
That's correct. The most minimal usage is in `test/index.html`. I visit that file in the browser when I want to test something in the browsers console.

Will make a note of this in the README. Thanks for bringing it to my attention.

[2016-03-16 16:29] survivant opened #185 "in the doc, add a usage example"
It would be nice to have a example of usage in the documentation.  For now we can check in the test-cases, but not everyone will go there.

Another reason, is to understand what we are trying to do.  An example.
I'm trying to find the rejection rejet for a CentralF test.  I validate the result with my statistics book.
ex :
values from my book
F> F (0.025,50,50) = 1.75
F< F (0.975,50,50) = -0.57

b

[2016-03-22 06:35] jamescgibson commented on #185
I'd be happy to add examples if you think it'd be useful - the docs certainly aren't perfect.

One recurring issue, which I think is what you're experiencing here, is that there are altering conventions between books / disciplines on how to to idiomatically define the distributions.

jStat generally follows the lead of R and Matlab. For example, R's `qf(p, df1, df2)` is formulated in such a way as

[2016-03-22 06:37] jamescgibson commented on #182
Finally looked it up - [the sci py license](http://www.scipy.org/scipylib/license.html) says that as long as we include that copyright notice, we're good to go. Opening a PR.

[2016-03-22 12:27] survivant commented on #185
I'll be happy to help.  I'll finish stuying for my exam, and as soon as I have time, I'll help to enhance the documentation.

[2016-03-24 16:48] jamescgibson commented on #185
@survivant Great to hear. Could you comment on the style of fixup that I've proposed in #185? Would love to have comments before it is merged.

[2016-03-27 20:00] gungorbudak commented on #182
@jamescgibson I have couple more things to add, so I'd like to open one with all additions soon.

[2016-03-28 13:47] jamescgibson commented on #182
@gungorbudak Sure thing, happy to merge multiple PRs if that's easier for you.

Cheers!
-james

[2016-03-29 20:25] #184 closed

[2016-03-29 20:27] #185 closed

[2016-04-04 18:25] gungorbudak opened #188 "NODE_PATH in Makefile"
I think instead of using `NODE_PATH ?= ./node_module` in `Makefile`, we should use `NODE_PATH = ./node_module` or better we can try to get absolute path to the current directory and add it to the path.

Because I didn't have `uglifyjs` installed globally and I got this error:

[code]

Well, there is nothing wrong with installing it globally but I really like when dependencies don't require `sudo`

[2016-04-12 06:27] trevnorris commented on #188
Mind taking a look at https://github.com/jstat/jstat/pull/142? Let's make sure this addresses your concern.

[2016-04-14 05:25] cherylcaprina opened #189 "T Statistics issue"
May I know what does the 'value' means in jStat.tscore(value, array)? as I understood that the array refers to the array of data sample. Can anyone shows me an example of the value means?

Regards.

[2016-04-26 15:08] gregglind opened #190 "ENH: Make it easy to explore jstat lib interactively"
Goal:  allow people to explore the jstat library along with the docs.

Possible solutions include:

1.  jsfiddle / codepen like thing, linked from the docs ("explore this at http:...")
2.  Actually include the library in the docs page, via the cdn link.  "Open your webdev prompt... yada yada".

[2016-05-16 17:37] eric-burel opened #192 "Can't import jStat in Meteor"
Hi,

I am using Meteor, and I am not able to import jStat correctly. It either does work on server or on client, but never on both. I understood that it is because jStat export policies being different on client and on server, and therefore require a different `import` call for each case.

However, I'd like to build a class that both work on a Node.js server and on the client, as it is very low le

[2016-05-16 18:24] jamescgibson commented on #192
Hi Eric,

I'm not hugely familiar with JS loading intricacies - but does doing `import jStat from jStat` and then calling something to the effect of `jStat = jStat.jStat` work, or do anything differently?

[2016-05-17 07:44] eric-burel commented on #192
This will work on server, but not on client :
[code]

The log on the client is :
[code]
So jStat is defined as a constructor, and therefore `jStat.normal` (for example) is not defined on the client, but is defined on the server. I tried `jStat = jStat()` on the client but it won't work.

But I guess we are closer to a solution than before, so I'll be optimistic :)

[2016-05-17 18:14] jamescgibson commented on #192
@eric-burel Thanks for the information. I'd be happy to spend some time getting this working for you, but I've never used Meteor - could you point me in the direction of how to set up a minimal project that reproduces the issue?

[2016-05-17 20:16] eric-burel commented on #192
Here are the step to reproducde
[code]
So, you should have three folder, `client`,`server` and `imports`. Here is a sample file importing `jStat` that should be imported both on the server and the client.

**imports/stat.js**
[code]

Then, here are basic `main.js` and `main.html`, with an helper.

**client/main.html** (most of the file is auto-generated by meteor, I simply added `{{ualpha}}` to ca

[2016-05-26 02:08] Teddy-Schmitz opened #193 "Global Variable leaks"
jstat leaks a global variable i.  I found this out testing code using lab.  I'll submit a pull request to fix this shortly.

[2016-05-26 02:23] Teddy-Schmitz commented on #193
See PR #194

[2016-06-08 17:00] trevnorris commented on #189
I'm sorry. It seems that function didn't come with a test before it was landed. There are actually two ways to use it.

First is to call it with `tscore(sample_mean, population_mean, stdev, sample_size)`. For example:
[code]

Second is to call it passing an array where `tscore(sample_mean, data)`, and the population mean, standard deviation and sample size are all calculated from the array.

That

[2016-06-08 17:12] #193 closed

[2016-06-08 17:18] trevnorris commented on #192
Think I may know what's going on. The export method was abusing an old trick for node's `module.exports` that should have also exported to global in the client side. Seems that's not working any more. I'll take a look into it.

[2016-06-11 11:49] yiyuezhuo opened #195 "build document fail"
I'm work on windows and I follow `Windows users have two options`.Anyway I don't know what the "same location" refer to, So I install them as default way.

I can build `jstat.js` and `jstat.min.js`, but it can't work on `doc`. I got this
![2](https://cloud.githubusercontent.com/assets/12798270/15984906/8cb90f12-300d-11e6-802a-394e74fa0053.png)

[2016-06-17 21:15] #55 closed

[2016-06-20 03:54] jon-walton opened #196 "1.5.3 on npm"
Hi,

Thanks for your work on jstat. Are you planning on pushing 1.5.3 to npm? The latest is currently being listed as 1.5.2 https://www.npmjs.com/package/jStat

Thanks

[2016-06-21 06:04] trevnorris commented on #196
Oops. Thanks. Is published now.

[2016-06-21 06:04] #196 closed

[2016-06-21 06:10] trevnorris commented on #195
yeah. that part of the readme is ancient. I should really just make all that a node script. assigning to myself.

[2016-09-11 10:31] nicolashefti opened #197 "Browser/node compatibility"
Hi,

I am currently working with [formulajs](https://github.com/sutoiku/formula.js) a project using jStats as dependency. The library use the following notation to import the module:

`var jStat = require('jStat').jStat;`

After building it with Webpack, the library works well in node but not in a browser. I think it is related to this [comment](https://github.com/jstat/jstat/issues/54#issuecommen

[2016-09-11 10:41] nicolashefti commented on #197
Maybe with a bit of code:

This works (in node context):
[code]

This doesn't (because jStat is directly attached to the window Object):
[code]

unless you insert this no-so-clean little trick (to fake the module import like in node):
[code]

[2016-09-14 20:48] trevnorris commented on #197
stwo changes I could make. the one you suggest is good, to have `jStat.jStat = jStat`. makes life simpler for referencing reasons. the other is to add the conditional and do the proper `module.exports = jStat;` so only have to `require('jstat')` but the existing `require('jstat').jstat` will still work today. Should also solve the issue you're having in the browser. Sound good?

[2016-12-08 07:36] sheeeeep opened #198 "Givien n,p, and result in binomial cdf ,can i get k ?"
For example:
`jStat.binomial.cdf(k, 200, 0.3) = 0.016462853;`
can i get k ?

[2016-12-09 01:01] yiyuezhuo commented on #198
Discrete distribution don't have cdf inverse function. If you want it like R in this speciel case, you can use normal approximation.

[code]

[2016-12-29 11:54] trevnorris commented on #198
@sheeeeep Does @yiyuezhuo answer your question?

[2017-01-10 21:27] ddurschlag opened #199 "Random seed/repeatable draws"
It would be useful to be able to re-run a simulation with a fixed seed. The standard practice for this seems to be to use a non-built-in PRNG with a default seed, allowing the user to override the seed. There seem to be 8 references to Math.Random in the codebase, which doesn't seem super-hard to replace.

[2017-01-25 15:53] pieterlukasse opened #200 "question regarding Spearman correlation coefficient implementation"
I have been experimenting a bit with your code as I need the spearman function to be much faster. The reason is that I need to use it for a distance metric in a javascript clustering algorithm (see https://github.com/cBioPortal/cbioportal/pull/1998).

Looking at the code (and at the theory), I think the [`jStat.spearmancoeff` function](https://github.com/jstat/jstat/blob/master/src/vector.js#L381)

[2017-01-25 16:56] yiyuezhuo commented on #200
I think your proposing is preferable. The current implementation's functional programming style may reduce performance. And your proposing is brief and correct.

[2017-01-26 08:55] pieterlukasse commented on #200
Nice! I will make a PR.

[2017-03-07 00:57] sriragavan opened #203 "Runtime error in strict mode enabled javascript engine"
In [linearalgebra.js (line #286)](https://github.com/jstat/jstat/blob/master/src/linearalgebra.js#L286), the local variable c is not declared hence fails during runtime in strict mode enabled javascript engines like mozilla spidermonkey.

`
      c = m[y][y];
      for (var y2 = 0; y2 < y; y2++) {
        for (var x = w-1; x > y-1; x--) {
          m[y2][x] -= m[y][x] * m[y2][y] / c;
        }

[2017-03-12 07:46] kyssproject opened #204 "t-test: p-value with a t-score from samples of unequal size?"
If I have `value1` and `value2` with `n1!=n2`, I can calculate the `t_score` as said here
https://en.wikipedia.org/wiki/Student's_t-test#Equal_or_unequal_sample_sizes.2C_equal_variance

Then, to get the p-value with jStat I (think I) can use

`jStat.ttest( tscore, n, sides)`

But I do have two `n` here. How can I do this? Or am I missing something?

[2017-03-12 14:47] yiyuezhuo commented on #204
From your reference:

The *n1 + n2 - 2* is the **degrees of freedom** that you need set as parameter for t-distribution. You can read https://en.wikipedia.org/wiki/Degrees_of_freedom_(statistics) to get the core concept.

[2017-03-12 15:25] kyssproject commented on #204
Yes, after posting I was supposing this but with your confirmation now I'm confident. Thanks!

[2017-03-12 15:25] #204 closed

[2017-03-13 15:03] yiyuezhuo commented on #195
@trevnorris I have watch the project for long time, and I feel a little careless for activting issues and pull requests. Thus, as a statistic undergrade, I would like to join jstat organization to help future developing. Can I get it?

[2017-04-06 22:00] tmcw opened #205 "Median absolute deviation calculation appears to be incorrect"
Hello maintainers! Great work on this library. I've been benchmarking it against a bunch of others, and it holds up very well. One thing that I dug into was jStat's high performance for medianAbsoluteDeviation, which seemed unusual. In this case, the method is named [meddev](https://github.com/jstat/jstat/blob/master/src/vector.js#L246-L254).

jStat's technique is:

1. Take the median of the input

[2017-04-17 23:49] Falcatrua opened #207 "jStat.models.ols() breaks in simple linear regression"
If you try to use jStat.models.ols() for a simple linear regression (in which exog is a single dimensional variable plus the column of ones for intercept), the t_test will break in sub_regress().

[2017-04-18 05:08] yiyuezhuo commented on #207
Since the maintainer seem like does not respond for a while, My fork (see #191) fix the problem.

[2017-05-17 20:31] trevnorris commented on #207
Thanks @yiyuezhuo. This has been landed and released in v1.6.0.

[2017-05-17 20:32] trevnorris commented on #205
So you're saying `var mean = jStat.mean(arr);` should actually be `var mean = jStat.median(arr);`?

[2017-05-17 20:51] trevnorris commented on #205
@tmcw I believe https://github.com/jstat/jstat/pull/208 fixes the issue. Mind checking? I'll land this and do a new release with the fix once it's verified.

[2017-05-17 20:53] trevnorris commented on #199
How do you think this should be accessible? It could be possible to set a global `jStat.setSeed(n)` where `n` is the seed you want. If `n === -1` then it uses the normal `Math.random()`. That sound like it might work?

[2017-05-17 20:55] trevnorris commented on #200
Fixed in https://github.com/jstat/jstat/pull/201

[2017-05-17 20:55] #200 closed

[2017-05-17 20:57] #203 closed

[2017-05-17 20:58] ddurschlag commented on #199
Not a huge magic-constant guy myself. Maybe just DI? "jStat.SetRandom(Math.random)" versus "jStat.SetRandom(GetPRNG(seed))" or similar would be my first choice, but beggars can't be choosers.

[2017-05-17 21:00] trevnorris commented on #203
Fixed by 81b7bca8b1b8966965199f15469391cfa9a2daf1 and released in [1.6.1](https://github.com/jstat/jstat/releases/tag/1.6.1)

[2017-05-17 21:06] trevnorris commented on #199
@ddurschlag I like that much better.

[2017-05-17 21:12] trevnorris commented on #199
This isn't the most elegant solution, but would get the job done: https://github.com/jstat/jstat/commit/e1933c6256fbd043fd9be3425be5e651fa1fa9da

That look good to you?

[2017-05-17 21:18] ddurschlag commented on #199
Looks fine to me -- it would be appreciated, however, if you included an alternative PRNG with the package. I know users can provide their own (which is great), but having one that you've done some basic testing on (e.g., for performance and distribution) would save users a PRNG odyssey -- which is often a real rat-hole.

[2017-05-17 21:22] trevnorris commented on #199
@ddurschlag Best I could do here is use someone else's PRNG. I'm not sure what constitutes a "correct" PRNG implementation.

(https://github.com/davidbau/seedrandom for ref)

[2017-06-02 23:17] #205 closed

[2017-06-08 15:59] tonyparise opened #209 "jStat.centralF.pdf(x, n, d) fails for small numerator dof and large denominator dof"
This is related to issue #103 . For small values of the numerator dof (1 or 2) and large values of denominator dof (greater than 140) the pdf computations have an intermediate step of infinity divided by infinity or a positive number divided by infinity. The issue appears to be caused by Math.pow(df2, df2) and Math.pow(df1 * x + df2, df1 + df2) becoming Infinity. For my graphing purposes, taking t

[2017-06-09 00:17] arturaugusto commented on #209
You are right about the Infinity causing the problem.
This issue is similar, but I dont think it's related to #103, as `centralF` doesn't call `studentt`.

How are you running R to compare?

I was trying to reproduce your test cases and got:
[code]
and not 0.0207 and 0.00997

[2017-06-09 01:44] yiyuezhuo commented on #209
It seems running a log transform before computing make sense.

[2017-06-09 16:41] arturaugusto commented on #209
If we rewrite code at https://github.com/jstat/jstat/blob/master/dist/jstat.js#L1831 with:

[code]

I can get the results from my previous comment.
I will do the change later and run the `make test` to check if everything is good.

[2017-06-09 16:45] arturaugusto commented on #209
@tonyparise. can you share how did you achieve the results from R for your test cases?

[2017-06-09 18:20] tonyparise commented on #209
@arturaugusto Looks like I made a mistake in computing my testcases. My erroneous values were coming from me forgetting to reset the dof from 4 and 11. Sorry about that. Rerunning the following code I get the same result values that you do of 0.148982 and 0.01759074.

var delta = 0.0001;
var test1 = (jStat.centralF.cdf(5+delta, 1, 200) - jStat.centralF.cdf(5-delta, 1, 200))/(2*delta);
console.log(

[2017-06-29 19:44] #209 closed

[2017-07-12 20:09] #197 closed

[2017-08-19 12:52] lukasvermeer opened #213 "No link from documentation to this repo"
Very minor issue, but there is no links or references from the documentation at http://jstat.github.io/ to this repo.

I'm sure I'm not the only one who wanted to download the library immediately after reading the documentation, but was confused by the lack of links to anything.

In the end I used my amazing Google-fu to find this repo, so no big problem, just a bit awkward.

[2017-08-22 09:41] #213 closed

[2017-08-22 12:37] camilomartinez opened #215 "Readme link to javascript guideline is broken"
The [current link](http://google-styleguide.googlecode.com/svn/trunk/javascriptguide.xml) with JS guideline for the project is giving 404.

I think the updated url could be [https://google.github.io/styleguide/jsguide.html](https://google.github.io/styleguide/jsguide.html), but it is hard to tell without knowing the old content.

[2017-08-23 16:20] salamanders opened #217 "FR: Make all long running loops cancelable or respect .yield()"
When I call evaluateCrossValidation, I may want to give up after a certain amount of time.  Instead of building in some "isRunning" boolean, would it be easier to check in the loops for https://docs.oracle.com/javase/tutorial/essential/concurrency/interrupt.html `if (Thread.interrupted()) {` in key areas?

[2017-08-23 16:22] #217 closed

[2017-08-29 12:06] #215 closed

[2017-09-20 10:52] dedesite opened #218 "jStat.chisquare.inv wrong behaviour : Am I missing something ?"
Hi,

First of all I'm not good at statistics at all, so maybe my problem is irrelevant but I don't understand one thing with your chisquare implementation.

When I try for exemple jStat.chisquare.inv with p = 0.5 and dof = 1 like this
`jStat.chisquare.inv(0.5, 1)`
It gave me
`0.45493642311961857`

Which is exactly what LibreOffice gave me when I use
`=CHIINV(0,5;1)`

And it is also similar to what

[2017-09-20 15:25] yiyuezhuo commented on #218
It seems LibreOffice  give you "right tail result", instead of that, standard statistic software tend to give left tail probability consistently. You should use `jStat.chisquare.inv(0.5, 1) to get LibreOffice result. But the left tail usage is recommended.

[2017-09-22 07:24] dedesite commented on #218
Ohh, ok that's why it worked with p=0.5. Thank you for your explanation, as I say, I'm really not good with statistics...

[2017-09-22 07:24] #218 closed

[2017-09-24 17:46] EloquentData opened #219 "adjusted_R2 in OLS model not calculated"
https://github.com/jstat/jstat/blob/46891b79cebc28160e286d994ec5c5242a56e13f/dist/jstat.js#L4693

Calculation based on model.rsquared, which does not exist. Should be model.R2

[2017-09-27 10:48] trevnorris commented on #219
do you have a fix for what this line should be?

[2017-09-27 10:55] EloquentData commented on #219
1 - (1 - model.R2) * ((model.nobs - 1) / (model.df_resid));

[2017-09-27 16:15] jamescgibson commented on #219
Unless someone has already grabbed this, I have put time on my calendar to fix it tonight.

[2017-09-28 04:26] jamescgibson commented on #219
OK, I've opened a PR for this issue and further added some documentation and tests for the OLS module.

[2017-09-28 04:34] jamescgibson commented on #198
Adding to to this issue, Geyer from UMN Twin Cities has a very nice explanation of why there is generally no inverse CDF of a discrete distribution [1]:

He then explains how R 'inverts' the function - by defining the return value to be the smallest value of the set:

Which at least gives the following nice property for R's functions:

It would not be particularly difficult to add a jStat equivale

[2017-09-28 08:18] EloquentData commented on #219
Thank you for the fix!

[2017-09-29 02:00] jamescgibson commented on #195
I think I might've been the over-clever person who introduced the `which` dependency - is that why this is failing? It has been a long, long time since I have used Windows.

[2017-09-29 02:07] jamescgibson commented on #121
@trevnorris Reviving an old issue here, but how about just `lowIncGamma()` and `regGamma`? Or alternatively, `liGamma()` and `rGamma`?

Since this library is not intended to precisely mirror any of the major stats packages (R, Matlab, etc), I'd choose at least unfamiliar terseness over familiar-but-possibly-misleading terseness.

[2017-10-10 22:59] trevnorris commented on #121
@jamescgibson I'll go with whatever you think is better.

[2017-10-10 23:00] trevnorris commented on #195
@jamescgibson Not really sure. Been a year since I looked at it.

[2017-10-10 23:07] #219 closed

[2017-10-13 20:28] swpaxton66 commented on #189
I know this post is over a year old.  However I stumbled upon this post while searching for exactly the same question.  My issue at the moment is that a lot of functions have the "Value" reference.  Has there been any updates to the documentation?  I just downloaded it today, so logic says no.  Making some assumptions, I had already tried your second suggestion by passing an array as the data.  Ho

[2017-10-16 19:11] jamescgibson commented on #189
@swpaxton66 Can you post a sample of data with the value you expect from minitab? I don't have a copy of minitab to check, but with the values I can probably hunt this down.

[2017-11-06 11:14] tht13 commented on #207
This issue seems to have resurfaced in 1.7.0

[2017-11-06 17:34] jamescgibson commented on #207
@tht13 Thanks for reporting, I will check this out tonight.

[2018-01-14 02:02] emk opened #223 "Apply security updates to UglifyJS"
Greetings, and thank you for `jstat`!

I noticed that `jstat` uses UglifyJS 1.2.3. This version has a number of known security issues, at least one of which may result in rewriting certain boolean expressions incorrectly:

- https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2015-8858
- https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2015-8857

The recommend fix is to update to `uglify-js ~> 2.

[2018-01-15 15:55] jamescgibson commented on #223
Thank you for the heads up! The build process is a bit odd, if you're not already set up with a jStat development environment, probably not worth setting one up for this. I'll see if I can address as soon as I can.

[2018-01-15 16:44] emk commented on #223
Thank you very much! I admit that this is mostly a cosmetic fix, so that GitHub stops warning me about projects that use older UglifyJS2 versions. But your help is still very much appreciated!

[2018-02-21 02:41] viswanathr88 opened #224 "jStat percentile function is using inclusive, not exclusive (as mentioned in the documentation)"
I just took 200 values and compared what i get using excel's
PERCENTILE.INC and PERCENTILE.EXC with jStat results.

The documentation of jStat says percentile is exclusive, but the results are the same as the PERCENTILE.INC function. Am i missing something here?

[2018-02-21 20:24] viswanathr88 commented on #224
I think the problem is here:
if (index + 1 < _arr.length) {
    return _arr[index] * (1 - frac) + _arr[index + 1] * frac;
}
Shouldn't it be the reverse for exclusive?
return _arr[index] * frac + _arr[index + ] * (1- frac);

The value that is closer to the next element is being picked in the case of jStat instead of picking the one closer to index?

[2018-02-22 09:47] shahrin-14 opened #225 "How to find T Critical values, given alpha level and degrees of freedom"
How to find T Critical values, given alpha level and degrees of freedom?
Is there something similar to a T-Table?
Note that this is also given by the Excel function TINV.

[2018-02-22 10:44] arturaugusto commented on #225
does `jStat.studentt.inv( p, dof )` is what you are looking for?

For example:

`jStat.studentt.inv(0.2, 10) # == -0.8790578`

Just like Excel `TINV`

[2018-02-22 10:55] arturaugusto commented on #224
I also checked this. The tests are comparing with inclusive results.

[2018-02-22 14:21] shahrin-14 commented on #225
Thanks @arturaugusto ,

I was also searching for the same for FINV to find critical values of an F Distribution given the alpha, degrees of freedom between, and degrees of freedom within. Do you know how to get that?

Also, would it make sense to put in convenience functions? At least we can put a hyperlink in the http://jstat.github.io/all.html#t_Statistics section to http://jstat.github.io/all.h

[2018-02-22 15:36] arturaugusto commented on #225
http://jstat.github.io/all.html#jStat.centralF.inv is what you want?

About the convenience functions, I think it will only be worth if is done to entire library.

[2018-02-27 02:23] swimclan commented on #207
I too am having this issue.  I am trying to do a simple:

[code]
and it breaks:
`A.map is not a function.....`

[2018-02-27 04:21] yiyuezhuo commented on #207
@swimclan Do you want a model like
y = b_0 + b_1 x_1 (standard)
or
y = b_1 x_1 (without const)?

The former one need a constant columns (it like corresponding function in `statsmodels`). As showed in test example:

[code]

[2018-02-27 04:26] swimclan commented on #207
@yiyuezhuo thank you for the explanation.

[2018-02-27 19:32] viswanathr88 commented on #224
Can we please get a function for EXC? Lot of other apps I use seem to do EXC.

[2018-02-28 00:10] arturaugusto commented on #224
Try using this build:
https://github.com/arturaugusto/jstat/blob/master/dist/jstat.min.js
setting true to the exclusive flag, this way:
`jStat.percentile([1, 2, 3, 4], 0.3, true)`
And check if you get correct results.

[2018-03-07 22:58] jspeis opened #228 "binomial cdf fails for large n"
in R:

[code]

in jStat
[code]

[2018-04-06 16:24] truongln88 opened #229 ""mean of vectors" returns number if there is only one vector"
`mean` returns correct mean vector of two or more vectors:
[code]

I would expect that:
[code]

But it returns `1.5`. This make coding with jStat more complicated, before using `mean` on an array of vectors, we need to check if the array has more than 1 element.

[2018-04-11 13:33] rintaun opened #230 "Invalid ANOVA F-score returned with two samples"
When  `anovafscore()` is given two sample arrays, it treats it as a special case and returns the ratio of the variance of the first sample to that of the second:
https://github.com/jstat/jstat/blob/5d99205d806e72997d863be800ffaf7af1851b97/src/test.js#L134

This is incorrect and leads to invalid F-scores being returned when two samples are given. Additionally, the result is dependent on the order o

[2018-04-30 03:08] iamziyue opened #232 "How to call a method when all jObj's asynchronous queues are completed?"
Refer to documentation (http://jstat.github.io/overview.html):
[code]
I writed these:
[code]
How to call a method when all asynchronous queues are completed. Such as:
[code]
Thanks!

[2018-05-03 12:52] KamalAman opened #233 "Vows Github Package reference"
JStat currently references Vows github page as its dependency.

[code]

Referencing Vows this way will always pull down the latest code on vows, regardless of their version and breaking changes. However the real issue comes for people using `Yarn` with a `Yarn.lock` file that expects the hash of a dependency at a specific "version" to not change randomly.

Vows has been published to npm, https://w

[2018-12-07 04:49] orenbh1 opened #237 "non-central-f distribution"
Adding a non-central-f distribution may be nice for F test power calculation (like regression)

[2018-12-15 10:45] orenbh1 commented on #237
The following doesn't meet jstat coding structure but does the job:

function ncf_distribution (val,df1,df2,ncp)
{
  var ncp2=ncp/2;
  var df1_2=df1/2;
  var df2_2=df2/2;
  var F=0,z;
  var val2=df1*val/(df1*val+df2)
  var constant=Math.exp(-ncp2);
  var delta=0.0000001*constant;

  for (var i=0;(i<3||z>delta)&&i<20;i++)
  {
    z=Math.pow(ncp2,i)*jStat.beta.cdf( val2, df1_2+i, df2_2 )/factorial(i

[2019-01-10 11:48] Venryx commented on #228
Same problem.

[2019-01-11 12:11] chrislawes79 opened #238 "How to calculate p-value @ 0.05 using r (Pearson rho) and n?"
I have r value of 0.38 and n of 59 and want to calculate p-value @ 0.05 significance level. Is this possible?

Should get result of about 0.002991 (using https://www.socscistatistics.com/pvalues/pearsondistribution.aspx)

Thanks in advance

[2019-01-17 04:42] yiyuezhuo commented on #189
`Value` is usually a "reference" value coming from H0, For example, in t score/test you may want to measure how much the sample mean(i.e. (1+2+3)/3=2) is different from a given `value`(i.e. 100).

[2019-01-28 19:28] DanielRuf opened #240 "Current project status"
Hi, what is the current status of this project? Is it still maintained?

[2019-03-03 10:13] darjusp commented on #189
Hi guys,
I have still issues in understanding how to get t test results. Can someone please paste a working example for this? For example if I have two arrays [0,5,29,3,4] and [9,4,5,6,4,2,3,1,2,4]. How to calculate t test values in jstats functions for them:
jStat.tscore( value, array)
jStat.ttest( tscore, n, sides)

The "value" is the term that confuses the usage

[2019-03-04 06:26] yiyuezhuo commented on #189
@darjusp
If you mean two independent sample mean t-test. It seems like jStat don't prodive a out-of-box function though. (There exist so many tests use t-statistic with subtle different usage. But [jStat.ttest](https://github.com/jstat/jstat/blob/master/src/test.js#L82) is only a 20+ lines small script compared to other professional statistic software such as R). If you understand the basic princi

[2019-03-04 13:37] darjusp commented on #189
yiyuezhuo thank you. That explained all the things, and thank you for implementint T-test, im sure it will help for others too.
If someone will need this, here are rough functions to calculate basic t-test and Welch T-test
[code]

[2019-03-08 15:29] hojBC commented on #199
Is there a reason this e1933c6 has not yet been merged?  It would be very useful for me.

[2019-03-27 12:58] rtshadow opened #241 "jStat.models.ols throws "jstat.js:584 Uncaught TypeError: row.map is not a function""
Run:

[code]

Following error is thrown:
[code]

[2019-03-27 14:19] yiyuezhuo commented on #241
It seems like some weired corner behavior happend in df=1 case. Though R can handle it.

[code]

A quick fix will be add a extra row to data. So that df=1 case can be avoided.
[code]

If the df=1 may the case,  the code will be tested against this to determine source of error.

[2019-03-29 15:31] chrislawes79 commented on #240
From what I can gather it is a bit of a mish-mash of different content creators so no one person can clearly resolve any issues. Seems to be dead?

[2019-03-29 15:51] jamescgibson commented on #240
I know I"ve missed some things, but I'll try to keep up with any actual errors.

[2019-04-20 12:13] petulla opened #242 "jStat.normal.pdf() fails when x and the sd are small-ish"
Resolved.

[2019-04-20 12:16] #242 closed

[2019-06-03 22:38] #224 closed

[2019-06-03 22:48] trevnorris commented on #240
After over a year of leaving open source, for various reasons, I'm back. Worked through all the PR's today and did the release of [1.8.1](https://github.com/jstat/jstat/releases/tag/1.8.1).

Soon I plan on starting work on v2.x that'll switch to using Typed Arrays, along with the other goodies that are supported by browsers today.

[2019-06-03 22:48] #240 closed

[2019-06-03 23:06] trevnorris commented on #241
A quick note on this. The function `qr_solve()` calls `jStat.QR(A)`. At that point, `A` is still correctly defined. The return value from `jStat.QR(A)` is:
[code]

Will look into this more later.

[2019-06-03 23:15] trevnorris commented on #199
@hojBC Landed that in f7bd2cf550a2a512ed511fb9cc08c246eb71825c

[2019-06-03 23:15] #199 closed

[2019-06-03 23:16] trevnorris commented on #199
Made the change to allow setting a custom random function in c8eeaacd20bd8639dd2cf91a203467840c2e0461.

[2019-06-03 23:18] trevnorris commented on #189
@yiyuezhuo That looks useful. Mind putting that in a PR? I'm not sure how it would best fit into the API, but seems you would know.

[2019-06-03 23:21] trevnorris commented on #238
Sorry. Don't think that's currently possible. I'll leave this open in case someone wants to add the functionality.

[2019-06-03 23:35] trevnorris commented on #228
To give an example of why this is a problem, at one point the function makes the call:
[code]
I'm not sure if there's a math trick in JS that can get around this. Other than using a bug number implementation.

I'll look to see if there are any potential solutions. Though it probably won't be a simple fix.

[2019-06-03 23:36] trevnorris commented on #237
Where on the API would you place this? I can add the code as long as I know where it should go.

[2019-06-04 00:07] jspeis commented on #228
@trevnorris might be interesting to look [at this](http://www.math.ucla.edu/~tom/distributions/binomial.html) implementation seems like this approach uses a numerical approximation that appears able to replicate R's results in my previous example at least to 5 decimal places

[2019-06-04 17:30] trevnorris commented on #228
@jspeis Excellent. Thanks for the reference. The accuracy is determined by the accuracy of the log gamma implementation. Using `jstat.gammaln` I'm able to get 10 digits of accuracy.

One question. There's a function `Betinc(X, A, B)`. Does that look like a reference to some other stats function to you?

[2019-06-04 19:39] #228 closed

[2019-06-06 10:07] kalradivyanshu opened #243 "Wrong poisson distribution sample at large lambda"
for large lambda (like 604800) the sample from poisson distribution is wrong.
jStat.poisson.sample(604800)

jStat.poisson.sample(604800)

jStat.poisson.sample(604800)

jStat.poisson.sample(604800)

jStat.poisson.sample(604800)

jStat.poisson.sample(604800)
751
jStat.poisson.sample(604800)

jStat.poisson.sample(604800)

jStat.poisson.sample(604800)

jStat.poisson.sample(604800)

Compared to python'

[2019-06-06 19:54] trevnorris commented on #243
Can you confirm if it returns the correct value when the sample size is small?

[2019-06-07 06:08] kalradivyanshu commented on #243
So at after around 750 lambda, it keeps returning samples around 750 only. I ran a test, taking 10000 samples from jstat and 10000 from scipy and comparing the average. Here is the code:
jStat:
`var jStat = require('jStat').jStat;

function getAverage(lambda) {
    let sumSamples = 0;
    for(let i = 0; i < 10000; i++)
        sumSamples += jStat.poisson.sample(lambda);
    return sumSamples/10000

[2019-06-07 14:33] kalradivyanshu commented on #243
So I can see the problem, jStat uses Math.exp(-lambda) to sample from poisson distribution, and at 750, that number becomes so small that it rounds it off to zero:

[code]

Not sure how to fix it I am looking into it, any help would be appreciated.

[2019-06-07 16:50] trevnorris commented on #243
@kalradivyanshu excellent info. Here's an alternative function:
[code]
And averages taken from it:
[code]
I have no idea if doing the math that way is technically correct, but it does keep the values within a manageable range and returns the expected averages.

[2019-06-07 20:12] trevnorris commented on #243
Wrote this node.js script to check on the distribution of values using the above `sample` function.
[code]
Here's some example output. The first row is the std dev of `500` values. Second row is the std dev of `500` std devs of the `sample` functions.
[code]
Not sure if this shows the alternative function also works.

[2019-06-07 20:21] kalradivyanshu commented on #243
I went into the source code of numpy to see how they are handling it, since numpy is very fast when generating poisson samples, and found this [function](https://github.com/numpy/numpy/blob/5bd7c2f41ff28cecc9f594e3d5e69de046d15b35/numpy/random/src/distributions/distributions.c#L668), So I ported it to javascript, and it is very fast:

[code]

where getAverage2 uses the function @trevnorris suggest

[2019-06-13 19:16] samipjain opened #244 "Check for even/odd length to get exact median"
https://github.com/jstat/jstat/blob/cc4878d6549f843c798a7d99080c8b6eec940ab7/src/vector.js#L277

[2019-06-19 13:39] samipjain opened #245 "There is no collinearity check while calculating Regression Coefficients"
https://github.com/jstat/jstat/blob/2410c388d4644a34bdd011a4dcb062f423383ce8/src/linearalgebra.js#L599

[2019-06-28 21:47] kalradivyanshu commented on #243
Any updates on this?

[2019-06-28 22:37] paulmarx commented on #243
Fuck you!!!

Don’t send me emails!!!

I will sew you if i‘ll receive another one!!!

Sent from my iPhone

[2019-07-18 15:41] chrislawes79 commented on #238
I've figured it out.
1. Convert **r** to **tscore**  using this formula: **tscore = (r * sqrt(n – 2))/sqrt(1-r^2)**
2. Then run **jStat.ttest( tscore, n, sides )**

Gives p-value

[2019-08-07 14:57] mcclella commented on #237
It would go in the API with the other probability distributions.

[2019-08-12 18:16] trevnorris commented on #245
Mind elaborating on this a bit and/or include an example of what you'd expect?

[2019-08-12 18:19] trevnorris commented on #243
@kalradivyanshu I'd suggest replacing/implementing the new code in the way that seems most reasonable to you. After you post the PR I'll walk you through any changes, or make code suggestions. I think that'd be the fastest way to go.

[2019-08-12 18:20] trevnorris commented on #238
Leaving this open, and will figure out where to add it to the docs.

[2019-08-12 18:24] samipjain commented on #245
Multicollinearity is a state of very high intercorrelations among the independent variables. Currently, it throws an error and it stops working.
Reference - https://en.wikipedia.org/wiki/Multicollinearity

Please follow this link - https://stats.stackexchange.com/questions/221902/what-is-an-example-of-perfect-multicollinearity

Rather than, throwing an error and breaking the application, it would

[2019-08-12 18:32] trevnorris commented on #237
@mcclella Sorry, I'll need some more help. My level of statistics is low to none. I mainly just maintain the code.

Currently there's a `jStat.centralF()`. Each of which have an accompanying `pdf()`/`cdf()`/etc. method. Should this be added as `jStat.nonCentralF()` with the same list of methods, or is it a one-off that would simply return a value?

[2019-08-12 18:37] trevnorris commented on #245
Can you give me an example input of what currently causes it to throw, and include what you'd instead expect it to return? Sorry, but my stats-fu is low and I am mainly here to maintain the code.

That said, I'm always looking for more stats savvy devs to join.

[2019-08-12 19:27] samipjain commented on #245
Input -
var A=[[1,1,2],
        [1,2,4],
        [1,3,6]];
var b=[4.5,6.8,6.5];
var model=jStat.models.ols(b,A);

This is the error I am getting -
![Screen Shot 2019-08-12 at 3 26 09 PM](https://user-images.githubusercontent.com/5640927/62892203-a7483180-bd15-11e9-9331-8cf7062fd4ed.png)

[2019-08-12 19:55] kalradivyanshu commented on #243
I have added the code and opened a pull request, it would be great, if you could give some feedback, thanks. https://github.com/jstat/jstat/pull/246

[2019-08-13 00:15] orenbh1 commented on #237
Hi @trevnorris,

Every distribution, include noncentral F function has:
CDF:  cumulative distribution function (from value to probability)
INV: this is the opposite of the CDF (from probability to value)
PDF: probability density function (a derivative of the CDF or p(X=x) for a discrete distribution

The code I wrote is **only** the CDF of the jStat.nonCentralF()

You can see that the PDF is compl

[2019-08-13 03:48] mcclella commented on #237
Hi Trevor,

First, many thanks for your efforts to keep jStat afloat and improving.  good javascript functions for statistical distributions are difficult to find anywhere else.  I depend on them for building educational applets used to teach statistics.  I essentially use d3.js to build visual interfaces to the distribution functions.  Here are a few examples:

    Comparison of normal and Studen

[2019-08-13 19:47] trevnorris commented on #237
@orenbh1 Thanks for the info and simpler implementation details. I should be able to work with that.

@mcclella Glad to hear that this library is helpful. I've been working on an updated version that works better with new browsers. Since the current version was made to operate with browsers almost a decade old. It will be able to handle larger datasets (hypothetically in the range of over 200 mill

[2019-08-14 11:08] orenbh1 commented on #237
Great.
Thank you, Trevor, for the great library, If I knew before ...
I will check if I have other functions to contribute.

[2019-08-14 21:40] samipjain opened #247 "Regression: If a variable contains all zero then code breaks"
var A=[[1,2,0],
        [1,1,0],
        [1,-2,0],
        [1,3,0],
        [1,-10,0],
        [1,4,0],
        [1,10,0],
        [1,3,0],
        [1,4,0]];
	var b=[1,-2,3,4,-5,6,7,-8,9];
	var model=jStat.models.ols(b,A);

Try to run this and then the code will break.

[2019-08-29 23:10] trevnorris commented on #243
This is fixed by a22a7f2.

[2019-08-29 23:10] #243 closed

[2019-08-29 23:45] trevnorris commented on #247
Reason for this is because it's attempting to do a divide-by-zero in the `R_I()` function in `lstsq()`. Specifically this code:
[code]
What is the output you'd expect from the example you gave?

[2019-08-30 20:06] samipjain commented on #247
I understand that divide-by-zero is the problem.

I was wondering if there can be a condition if divide-by-zero then return null so that the code won't break. Because input can contain zero as I ran into the problem where one column was all zeros.

[2019-09-22 18:10] trevnorris commented on #247
I'm happy to handle the divide by zero case differently. Whatever decision is made I'd like to implement uniformly across the library. So I'd like to make sure this is usable in the general case.

The problem with simply returning `null` or `undefined` is that it wouldn't communicate the reason for the error. Returning an `Error` object isn't something done in JS. Adding a callback or `Promise`, e

[2019-09-22 18:12] trevnorris commented on #244
Roger. Will take care of this.

[2019-10-04 10:27] koosvanderkolk opened #248 "Evaluate function?"
Thanks for this great piece 'o work!

jStats 'algebra' nephew, mathjs, comes with a very usefull feature: math.evaluate (https://mathjs.org/docs/expressions/parsing.html#evaluate), allowing 3rd party developers to run mathjs scripts, provided as string.

A use case is that these scripts are provided by the end-user, e.g. in an online code editor.

Am I correct that jstat does not (yet) have a simi

[2019-10-10 20:22] trevnorris commented on #247
@samipjain What about returning `NaN`? I think that would indicate the input parameters aren't valid.

[2019-10-10 20:24] trevnorris commented on #248
It doesn't, but this is a feature I thought would be interesting to include. mathjs has a good implementation example I'll be able to pull from. No promises it'll be done soon, so PRs are welcome. :)

[2019-10-10 20:37] trevnorris opened #249 "Update docs with new poisson distribution"
Update docs with info in https://github.com/jstat/jstat/pull/246#issuecomment-526445406

[2019-10-11 15:02] samipjain commented on #247
I think this will work.

[2019-10-31 19:43] mscotch1 opened #250 "Gamma Function has nonsensical behavior with large arguments"
## Description
If `jStat.gammafn` is passed a large number, it can take a long time to return a value, and the value may be nonsensical.

e.g.
[code]

## Demo
https://jsfiddle.net/uovwja0z/1/

[2019-11-04 19:10] trevnorris commented on #247
I've done some investigation and implementing this reliably will take some time. I was also thinking to add a `throwOnNaN()` option that will throw (like it currently does) when a `NaN` would be returned. Mainly to help debugging.

[2019-11-04 19:43] trevnorris commented on #250
Would something like this work for you?
[code]
It immediately checks for the maximum non infinite value, and returns immediately if it's greater than that.

Also, it appears that `gammafn()` fails with negative numbers, but I'm not sure what the expected behavior of that should be.

[2019-11-04 19:46] #51 closed

[2019-11-04 20:20] mscotch1 commented on #250
Yes, I think that would sufficiently address the issues we've run into with the behavior of `gammafn`. And we don't need this behavior for negative numbers, but I would expect `gammafn` to be able to calculate the gamma function for any number in its domain (see https://en.wikipedia.org/wiki/Gamma_function), so all negative non-integers.

[2019-11-18 06:11] lukas1994 opened #251 "typescript"
Hi, are there Typescript typings available somewhere?

[2019-11-19 03:31] trevnorris commented on #251
Sorry, not following. Can you explain in more detail?

[2019-11-19 06:52] lukas1994 commented on #251
most JS libraries provide Typescript typings these days, e.g. in https://github.com/DefinitelyTyped/DefinitelyTyped
I couldn't find any for jStat though

[2019-11-24 18:25] trevnorris commented on #251
I'll accept a PR for them.

[2020-01-24 23:03] runvnc opened #252 "Looking for equivalent to statsmodels.tsa.stattools.adfuller"
Hello, I am looking for an Augmented Dickey-Fuller test like statsmodels.tsa.stattools.adfuller in Python.  Or something close.  Does jstat have that or anything like it (or maybe another JavaScript library)?  Or if not, maybe its not super hard to build it using functions that jstat has?
Thanks very much for any advice.

[2020-02-24 21:08] vincerubinetti commented on #189
I was using this code to replace the `ttest` library in the project I'm working on. But when I started comparing it to results from `R`, I noticed some numeric/floating point errors.

Using the same `a` and `b` test data from the above post, here are the Welch's ttest results, from the above algorithm, from `R`, and from the `ttest` package, respectively:

`0.473787465132`
`0.472242366784`
`0.4722

[2020-03-03 15:00] taviroquai opened #253 "jStat.studentt.inv returns very different result from Microsoft Excel equivalent INVT"
Hi,

Excel function INVT(0.2, 5) returns ~ 1.4759

While jStat.studentt.inv(0.2, 5) returns ~ -0.9195

Any ideas? Thank you!

[2020-03-03 18:44] arturaugusto commented on #253
Which version of Excel are you using?
I just tested with Excel 2010, and INV.T(0.2, 5) returns -0,9195.
I also checked jstat, and confirmed that it returns -0,9195.

[2020-03-03 18:47] arturaugusto commented on #253
Looks like INV.T(0,1;5) returns -1,4759. Maybe a typo?

[2020-03-03 19:27] taviroquai commented on #253
Excel 2013.

And I just opened the same file but in Libreoffice Calc 6.0 and it recognised as TINV (inverse t distribution), with same result ~ 1.475

=TINV(0.2, 5)

Maybe I'm using wrong function in jStat?

Thanks

[2020-03-03 19:36] arturaugusto commented on #253
In Excel, try using `INV.T`, not `INVT`.

Looks like `INV.T` returns distribution left side, and `INVT` is a excel 2007 compatibility function that returns for both sides.

[2020-03-03 19:52] arturaugusto commented on #253
Looks like:

`Math.abs(jStat.studentt.inv(x/2, 5))` ~ `INVT(x, 5)`

For any given x, if you need a `jStat` function compatible with excel `INVT`

[2020-03-03 20:06] taviroquai commented on #253
That's right!

I'm converting and excel calculation to a JS app and x/2 seems to get the correct result.

Thanks! :)

[2020-03-03 20:07] #253 closed, assigned to nobody

[2020-03-11 10:31] alshoja opened #254 "Values are Different while comparing With numpy in python"
Everything seems to be same with NumPy till I get this set of arrays, here is my data for replicating the same output. The output which is getting out from **jStat.lstsq(A,b);** using the given array is different while comparing it with pythons NumPy function **numpy.linalg.lstsq()**
[numpy Python library](https://docs.scipy.org/doc/numpy/reference/generated/numpy.linalg.lstsq.html)
I was trying t

[2020-03-26 21:24] trevnorris commented on #252
Sorry. I just maintain the code and am not a statistics expert. Will require input from the community on this one.

[2020-03-26 21:27] trevnorris opened #256 "Fix Welch's ttest results"
Write a patch using the below notes, and write a test to confirm it.

_Below was originally posted by @vincerubinetti in https://github.com/jstat/jstat/issues/189#issuecomment-590549351_

I was using this code to replace the `ttest` library in the project I'm working on. But when I started comparing it to results from `R`, I noticed some numeric/floating point errors.

Using the same `a` and `b` t

[2020-03-26 21:28] trevnorris commented on #189
@vincerubinetti I created https://github.com/jstat/jstat/issues/256 from your comment. Will write up a fix based on your feedback.

[2020-03-26 22:30] runvnc commented on #252
I just switched that part to use Python

[2020-03-26 22:30] #252 closed, assigned to nobody

[2020-04-21 17:50] #250 closed, assigned to trevnorris

[2020-04-21 17:51] trevnorris commented on #250
Seems I made the change but never pushed it. The fix landed in 25d3cf40f.

[2020-05-01 04:30] stuartcrobinson opened #257 "typo in https://jstat.github.io/all.html#mean - says "fn.max" instead of "fn.mean""
https://jstat.github.io/all.html#mean

**fn.max**( [bool,][callback] )

Returns the mean of a vector or matrix columns.

[2020-05-01 21:09] eweitz opened #258 "ES6 export"
Could an [ES6 export](https://developer.mozilla.org/en-US/docs/web/javascript/reference/statements/export) be provided for jStat?

ES6 export would let developers easily use jStat in their applications that use JavaScript frameworks like React, Vue, and Angular. This ES6 / ES2015 syntax for import and export derives from module systems like AMD and CommonJS, and puts their best parts into a formal

[2020-05-19 20:07] jamessoley opened #259 "jStat.oneSidedDifferenceOfProportions"
I'm sure this is a stupid question but I'm stumped. I tried to import the jstat library into GBQ and run a simple different of proportions test (prop test in R). Below is my code:

## Function Creation
CREATE TEMPORARY FUNCTION prop_test(a FLOAT64, b FLOAT64, c FLOAT64, d FLOAT64)
 RETURNS FLOAT64
 LANGUAGE js AS
"""
  return jStat.twoSidedDifferenceOfProportions(a, b, c, d); // jStat.twoSidedDiff

[2020-05-19 20:38] jamessoley commented on #259
Okay. I just dug through the source code and saw that the function name is actually:

jStat.fn.twoSidedDifferenceOfProportions(a, b, c, d);

Can you please update the documentation from here? https://jstat.github.io/all.html#jStat.oneSidedDifferenceOfProportions

[2020-06-12 00:37] kgryte commented on #188
@trevnorris This can be closed.

[2020-06-12 00:37] kgryte commented on #233
@trevnorris This can be closed.

[2020-06-15 20:19] trevnorris commented on #258
I'm open to a PR that does something like generating a `dist/jstat.mjs` and `dist/jstat.min.mjs`.

[2020-06-15 20:20] #188 closed

[2020-06-15 20:20] #233 closed

[2020-06-15 20:25] #259 closed, assigned to nobody

[2020-06-15 20:26] trevnorris commented on #259
Thanks for noticing this. Fix has been pushed and the online documentation has been updated.

[2020-06-15 20:28] #257 closed, assigned to nobody

[2020-06-15 20:29] trevnorris commented on #257
Thanks for noticing this. Has been fixed and the docs have been updated.

[2020-06-22 13:34] mysticaltech opened #261 "[Feature Request] Dunnett's correction in the case of MCC"
jStat supports Tukey's MCA (Multiple Comparison between All Pairs) which is great, but in the case of let's say A/B testing, it is Dunnett's (Multiple Comparison with Control) that is of interest. It would be Fantastic to have an implementation of it.

Here's an implementation of it in Matlab M https://es.mathworks.com/matlabcentral/fileexchange/38157-dunnett-m, and another one in Fortran (qmcc do

[2020-08-22 14:10] CigoZim opened #262 "how to get mannWhitneyUTest？"

[2020-09-17 20:56] trevnorris commented on #262
It'll need to be contributed by the community. I don't have a background in stats, and am only here to maintain the code side of things.

Will be happy to review a PR with the given code and tests. :)

[2020-09-17 20:56] #262 closed, assigned to nobody

[2020-10-16 20:22] andrewiggins commented on #258
I'm thinking about taking this on. @trevnorris, would you be open to a PR converting this source to ESM and using a tool like Rollup to produce a UMD, CJS, and ESM output? My thinking is UMD serves existing users who rely the current UMD output, CJS directly serves people using CJS in NodeJS (though perhaps this is duplicative of UMD?), and ESM serves browsers, bundlers, and ESM in NodeJS.

One bi

[2020-10-21 23:29] trevnorris commented on #258
@andrewiggins Honestly I've never been a fan of ESM, but if the CJS file output remains pretty much the same then I'm fine with it. If you do it, please only make the minimal changes to support ESM. As much as I hate IE, it'll continue to be supported until MS kills it off in Aug next year. Meaning, no arrow functions, etc. (see https://kangax.github.io/compat-table/es6/ for complete list)

[2020-11-10 12:53] chrislawes79 commented on #189
For me I found Welch and get_t_test gave same results and both seem to give same p value as SPSS but different F for Independent T Test :-(

FYI: I found that you could replace S2 calc above:
(jStat.sum(jStat.pow(jStat.subtract(t_array1,meanA),2)) + jStat.sum(jStat.pow(jStat.subtract(b,meanB),2)))/(t_array1.length+t_array2.length-2);

with jStat calc:
jStat.pooledvariance([t_array1, t_array2])

[2020-11-11 15:01] chrislawes79 opened #264 "jStat.studentt.inv( p, dof ) info"
Hi,

This is about explaining the functions better. The explanation for this is
"Returns the value of p in the inverse of the cdf for the Student's T distribution with dof degrees of freedom."

As a stats novice I didn't really understand what this did until by luck I came across the ability to calculate a critical value (CV) with alpha and dof for a t-test (1-tailed). So I used above code with p

[2020-11-13 10:13] chrislawes79 opened #265 "Unequal variance dof calc"
Don't know how to add functions so have created this in javascript if anyone wants to add it to the jStat library. It calculates degrees of freedom for independent t test with unequal variance (equation added as an image from wiki) from two arrays:

[code]

![image](https://user-images.githubusercontent.com/46597467/99060664-42bef680-2598-11eb-97e7-dd541f5701f1.png)

[2020-12-22 21:07] trevnorris commented on #264
I'm open to a pull request. Unfortunately, I have no background in statistics and just maintain the library at this point.

[2020-12-22 21:09] trevnorris commented on #265
Thanks for the code. Where in the API should it be added, and do you have any examples that can be placed in the tests?

[2020-12-31 17:01] mysticaltech opened #267 "[feature request] Group Sequential Testing"
Hello, it would be great to have support for Group Sequential testing functions like calculating futility and efficacy boundaries with spending functions, etc.

The kind of functions that a package like [gsDesign](https://github.com/keaven/gsDesign) in R offers.

Thanks and keep up the good work!

[2021-01-05 16:17] DaGeRe commented on #189
This is a good idea, since I stumbled over the same problem, just a little fix for the function:

[code]

(you referred to `b`, but you should refer to `t_array2`). As far as I see it, this is a correct implementation of the two-sided t-test.

[2021-01-19 07:33] omersname opened #268 "Get Z score by probability"
Hello, I'm trying to get z score by a given probability value and I cant manage to do it.
I tried the `jStat.zscore` function but it requires array and I need like a calculator that by a given p value I get the z score.

[2021-02-01 09:49] kreja opened #269 "corrcoeff returns NaN"
[code]

returns NaN

[2021-02-01 09:57] #269 closed, assigned to nobody

[2021-02-01 09:58] kreja commented on #269
My fault.

[2021-02-08 05:34] michaeleiseman commented on #245
@samipjain @trevnorris  May I suggest the following check for collinearity of exog:

[code]
I'm currently using this. Give it a try.

[2021-02-11 05:18] michaeleiseman opened #270 "Determinant of symmetrical matrix gives wrong answer"
I have the following symmetrical matrix:

`const matrix = [[310, -228, -190, 108], [-228, 310, 108, -190], [-190, 108, 310, -228], [108, -190, -228, 310]]`

The determinant of this matrix is 0, but

`jStat.det(matrix) = 1974297600`

Why does jStat give me the wrong answer?

[2021-02-11 07:03] michaeleiseman commented on #268
@omersname

Just use

`jStat.normal.inv( p, mean, std )`

were p is the probability you require.

If you want a STANDARD z score then set

`mean`  to 0 and `std` to 1.

[2021-02-12 06:29] michaeleiseman commented on #247
@trevnorris and @samipjain With the last column being all 0's we EXPECT that OLS SHOULD fail for this exog. I would NOT put in a special computational case for this.

You COULD do a CHECK to see of the OLS will fail while performing the OLS.  The OLS will fail if

`jStat.det(jStat.transpose(exog).multiply(exog)) === 0`

You could put this line into models.js BEFORE you execute line 21 `var coef =

[2021-03-02 14:22] typehorror commented on #251
@lukas1994 working on defining the types for jStat on this PR #271  . This is likely gonna take a few weeks since the library is quite extensive. Feel free to join the effort if you can

[2021-04-12 03:07] michaeleiseman commented on #270
@trevnorris @debrice Thank you so much for fixing this!!!

[2021-06-22 14:42] ozcelikelif opened #274 "pvalue equals to 0"
Hi, I am using jStat.ttest() function to obtain a p-value for my t-test value, which is 42.8 but it comes out as 0. I guess the p value is so low, it converges to 0. Is there any way to learn that or can you provide me the minimum value this function can work with so that I can include it in my paper. Thanks.

[2021-06-30 10:31] #274 closed, assigned to nobody

[2021-08-10 21:51] trevnorris commented on #270
Somehow forgot to publish this fix. Has now been published in v1.9.5.

[2021-08-10 21:51] #270 closed, assigned to nobody

[2021-08-27 18:58] Manoj-Goskonda opened #275 "Uniform Distribution"
i want code of pdf and cdf uniform distribution i have check many time in there file no available in this distribution.

[2021-08-27 19:05] Manoj-Goskonda commented on #264
varible p is probability example p = 0.95 and  dof = 116.
 so, left side = Critical region: (-∞, 1.6581] , right side = Critical region: [-1.6581, ∞) , two tailed = (-∞, -0.0628] ∪ [0.0628, ∞)
your ans value CV.
 jStat.studentt.inv( p, dof ) in this inveerse also better to helpful use Excel sheet there is avaible many solution like .DIST and .INV

[2021-11-10 00:54] danielreispereira opened #276 "Distribute library that uses jstat"
Hi, apologies if this is not the right place to ask this.

I want to use jstat to create a distributable Excel  add-in library with *MyFunctions* (wrappers with my sauce on top of jstat in short)

Am I in the right place? Can someone point me to good docs on how to accomplish this?

[2021-11-29 14:56] ivos commented on #258
Hi, may I ask whether there are any news on this?

Still supporting IE? Aug 2021 already was, no?

Not sure why are you "not a fan of ESM". Tree-shakable API seems to me should be quite a high priority for any JS library out there today. Jstat in particular. I would expect most users only use "just a couple of functions". Using most of the library is probably quite exceptional.

I my case jstat se

[2021-12-19 11:04] logan-life opened #277 "Looking for equivalent function to R stats::optimize"
I'm working on converting some R code to Javascript, and I'm wondering if any of the functions here will produce output equivalent to the R stats::optimize function [documented here.](https://www.rdocumentation.org/packages/stats/versions/3.6.2/topics/optimize)

[2022-02-03 19:26] mike-greenmmd opened #278 "Non-central t inverse CDF"
Hi JStats team,

This is an excellent library - really appreciating all the hard work you have done on it!

I noticed that you have a non-central t distribution partially implemented.
Is there any chance this will be fully implemented soon? Specifically, I need the inverse CDF (PPF) of this distribution which doesn't seem to be implemented yet.

Also do you have, or are you planning to add a "buy

[2022-02-04 21:36] trevnorris commented on #276
Sorry. This isn't the correct place to have that question answered.

[2022-02-04 21:36] #276 closed, assigned to nobody

[2022-02-04 21:39] trevnorris commented on #278
Contributions to this project rely on the community. I'm the only one left maintaining it, but don't actually have a background in statistics. I basically just review/merge/publish and fix misc. minor bugs.

No plans to accept donations on this project. Thanks for asking.

[2022-03-29 00:34] quinn-dougherty commented on #249
Is this not able to be closed due to https://jstat.github.io/distributions.html#jStat.poisson ?

[2022-04-26 20:55] Yunfeng01 opened #279 "When proportion is 0, then it throws an error that 'Proportions should be greater than 0 and less than 1'"
https://github.com/jstat/jstat/blob/65ce096a99f753d6a22482e5e74accbfc1c33767/dist/jstat.js#L4661~L4662

I think we should allow proportion value is 0 or 1.

[2022-06-05 00:04] jtlapp commented on #241
I'm getting this error with df = 2111. (I have 2113 data points.)

[code]

I appended the 0 because I'm getting a different error with independent values of array length 1.

UPDATE: I corrected my problem by appending a 1 rather than a 0 to get a constant term.

[2022-09-02 21:11] jberryman opened #280 "geomean not useful for real world data, since `product(arr)` quickly over/underflows"
Taking the roots first and then product is the way I know to compute this, but I have no idea how to judge how much error to expect in that method. I was hoping for something more sophisticated in this library. Some different approaches are discussed here, but I have no idea how to judge them or determine if my implementation was correct if I were to try to implement one:

https://stackoverflow.co

[2022-09-03 01:43] kgryte commented on #280
Better is to compute the natural log, sum, and then exponentiate. https://github.com/stdlib-js/stdlib/tree/116787012ece738172c5e80cc0bb20296d471793/lib/node_modules/%40stdlib/stats/incr/gmean and https://github.com/stdlib-js/stats-incr-gmean.

[2022-09-05 18:15] jberryman commented on #280
Fwiw I also realized I could get some intuition for accuracy of different approaches by testing on e.g. `take n (cycle [2^3, 3^3, 4^3])` for different size `n`

[2022-09-27 17:00] 0x4a61636f62 opened #281 "jStat.ttest example from documentation not working"
I tried to run the example from the official documentation:

[code]

But I am getting the following error:

[code]

[2022-11-21 19:19] #280 closed, assigned to nobody